[2018-05-09 15:56] pariterre opened #1 "Read merged points"
It should be able to returned merge points

[2018-05-23 18:09] pariterre opened #2 "proper interface for deleting in python"
Prevent memory leaks!

[2018-07-14 14:06] pariterre opened #3 "Write a writer"

[2018-07-14 16:37] pariterre commented on #2
I don't remember when I did it, but it the flow of properly compiling in python, this issue has been solved

[2018-07-14 16:37] #2 closed

[2018-07-19 21:45] pariterre opened #4 "declare char in reading only once"
There is no point allowing space at each byte reading. It should be done once at the beginning and destroyed once at the end

[2018-07-26 20:51] pariterre commented on #3
Add a sanity check before starting to write in case someone modify by hand some variables (which is unintended but not completely unexpected)

[2018-07-30 13:52] pariterre commented on #3
Add a sanity check before starting to write in case someone modify by hand some variables (which is unintended but not completely unexpected)

[2018-08-10 03:31] pariterre commented on #3
All done!

[2018-08-10 03:31] #3 closed

[2018-08-10 04:05] pariterre commented on #4
This is now done
There was no elegant way to do it also for other values than floats, but at least it is done for that.

[2018-08-10 04:05] #4 closed

[2018-09-21 13:44] pariterre opened #6 "Write a ReadMe"

[2018-10-19 12:59] marnunez opened #15 "Milestones?"
Hi @pariterre! I was just wondering what your plans for ezc3d where. Are you looking for a full replacement of BTK or just a parser? Would you be interested in other more obscure file formats besides c3d? I work in a BTS gaitlab, I could provide some .tdf, .raw, .emg, .ric, files, among others.

[2018-10-19 14:37] pariterre commented on #15
Hello @marnunez,

For the future development, I'd say that it highly depends on the needs of the community. Up to now, my goal was to parse and write c3d into c++, matlab and python for the lab where I work. This goal is now achieved as ezc3d is now the parser/writer that we use at the lab.

Hence, now I am moving to the community needs. That is why I came to OpenSim as you have seen. Their needs

[2018-11-04 05:50] pariterre commented on #6
The readme is now written!

[2018-11-04 05:50] #6 closed

[2018-11-04 05:51] pariterre opened #19 "Python writer"
There is a bug in the writer that appeared after the refactor. It is due to the parameter.set method

[2018-11-05 01:00] pariterre commented on #19
Add the possibility to add parameters

[2018-11-05 07:44] pariterre commented on #19
The python binder is ready and tested

[2018-11-05 07:44] #19 closed, assigned to nobody

[2018-11-05 07:45] pariterre opened #22 "Add Matlab tests"
Matlab is not tested, therefor it is prone to development error

[2018-11-05 21:19] pariterre commented on #22
I added an example as well

[2018-11-05 21:19] #22 closed, assigned to nobody

[2018-11-08 17:15] mickaelbegon opened #24 "Conda version and matlab"
Hi Benjamin,
When ezc3d is installed from conda, does the matlab binding is also installed?

[2018-11-08 19:44] romainmartinez commented on #24
Since version 0.3.0, Matlab binding is no longer included in the binaries hosted on conda.

You must build ezc3d yourself with CMake and Matlab binding enabled.

[2018-11-08 22:32] pariterre commented on #24
That is exact. Conda is more designed to work with python, this is why that decision was made. However, I could upload the binaries to mathworks if you think that make sense :)

[2018-11-09 13:46] jimmyDunne commented on #24
My two cents— I would recommend not uploading binaries and rather having a robust local build system for the bindings. Uploads get out of date very quickly and you will be expected to maintain the uploads for every system (Operating system and version of Matlab) imaginable.

[2018-11-12 19:26] romainmartinez opened #25 "'Data' object does not support item assignment"
When I try to append analogs data in an empty c3d, I get the following message: `Data' object does not support item assignment`.

[code]
Same with points:

[code]

[2018-11-12 20:51] pariterre commented on #25
Dear romainmartinez,

Are you running the latest version or the one from conda? This is supposed to be already resolved from the latest version but I forgot to upload the 0.3.2 version onto conda

[2018-11-12 21:03] romainmartinez commented on #25
I use the one from conda (0.3.0). I let you upload the latest version on conda, when you have some time.
Thank you!

[2018-11-12 21:32] romainmartinez commented on #25
Everything is working fine with 0.3.2 :+1:

[2018-11-12 21:32] #25 closed, assigned to nobody

[2018-11-13 17:37] romainmartinez opened #26 "Could not open the c3d file: iostream error"
I get an error `Could not open the c3d file: iostream error` on about 80% of my c3ds.

Here is an example:

[code]

Do you have any idea where this might come from?

[2018-11-13 20:16] pariterre commented on #26
Hi romainmartinez,

I uploaded a patch when a file is filled with zeros at the beginning of the file as the one that causes problem to you. Please tell me if it solves the problem

[2018-11-13 21:10] romainmartinez commented on #26
Everything is working fine with the new patch :+1:

[2018-11-13 21:10] #26 closed, assigned to nobody

[2019-01-08 08:15] melund opened #35 "Error on import in Python (No module named 'ezc3d._ezc3d')"
I have installed the package from conda `conda install -c pyomeca ezc3d`.

But I get the following traceback on import:

[code]

[2019-01-08 12:58] melund commented on #35
It seems the windows recipe is wrong. It installs the library files to an incorrect prefix.

on windows cmake should have:
[code]

[2019-01-08 13:56] pariterre commented on #35
Ok!

I was struggling on where to put stuff. I'll have a try why %LIBRARY_PREFIX%!
Give me an 2 or 3 hours :)

Thanks!

[2019-01-08 17:43] melund commented on #35
No problem. I have created a conda-forge package with ezc3d. It works, but I ran into some problems on mac, though. So osx packages are skipped for now.

https://github.com/conda-forge/ezc3d-feedstock

Thanks for ezc3d. It was seriously needed. Was seriously considering forking btk to update it with python 3 support.

[2019-01-08 18:03] pariterre commented on #35
Nice!
Thx!

Yep, I've figured that I would not be alone to want a better c3d file manager. Hope this will suit your needs! If you have any improvement to propose, feel free to ask or even PR :)

What is the error on Mac? I've tested it in the past and it was working...

[2019-01-08 19:26] melund commented on #35
Here the final error I got before giving up:

https://github.com/conda-forge/staged-recipes/pull/7505#issuecomment-451847636

[2019-01-08 19:38] pariterre commented on #35
Oh.. It seems something went wrong in linking.. I'll have a try within the next days with an actual Mac to see if it is a conda-build linking problem or an error in the CMake.

[2019-01-09 08:46] melund opened #36 "Error writing c3d file in Python"
I got the following traceback.

[code]

[2019-01-09 21:24] pariterre commented on #36
PR accepted, thanks for the changes

[2019-01-09 21:24] #36 closed, assigned to nobody

[2019-01-21 16:01] Fiverdug opened #38 "Error while re-writing a c3d Vicon file"
When I try to re-write a c3d Vicon file after modifying it, I get the an error message. Here is an example:
c = ezc3dRead('ViconFile.c3d');
% [...] some modifications
ezc3dWrite('NewViconFile.c3d', c);

Error using ezc3dWrite
'parameters.ANALOG.LABELS' parameters is not accessible in the structure.

[2019-01-21 16:08] pariterre commented on #38
Dear Fiverdug,

Vicon omit a required parameter when they create a C3D file without analogs. When it doesn't prevent the reading of it, writting it back would generate a corrupted C3D. Thus, what ezc3d tells you are the instructions to modify the read file.

In this case, a quick fix would be something like that:
[code]
Tell me if that does the trick!

[2019-01-21 16:16] Fiverdug commented on #38
Yes, that solved the problem! Thanks!

[2019-01-21 16:16] #38 closed, assigned to nobody

[2019-02-18 19:18] pariterre opened #39 "IO stream error"
Message when file is not existent is too generic

[2019-02-18 19:43] pariterre opened #40 "Add forceplates in global reference frame"
The forceplates are given in the local reference frame instead of global reference frame...
See if something can be done

[2019-02-28 22:35] pariterre commented on #35
Hi Melund!
Sorry for the delay... I actually struggle to find a Mac that I could install everything I wanted on! I've solved the linking problem, thus Mac recipe should now be able to work! :)

[2019-03-09 23:49] redcat22 opened #47 "Cant install ezc3d module always get error"
Hi

Thank you very much for the amazing job that you are doing with this project I was a user of btk in matlab but now I am in pyton 3 and btk simply dont work. This certanally will be very important for many people.

I have conda 3 installed in pc and try to get this module using the indications from here:
https://anaconda.org/conda-forge/ezc3d

and also doing this:   conda install -c pyomeca ezc

[2019-03-10 00:10] pariterre commented on #47
Hello there!

I hope ezc3d will suit your needs well :)
I maybe forgot to change my ReadMe. Pyomeca no longer hosts ezc3d, it is directly in conda-forge!
So the install line should read :
conda install -c conda-forge ezc3d

Hope this will help!

[2019-03-10 00:11] pariterre commented on #47
Yep, I forgot to update the ReadMe, it is done now ;)

[2019-03-10 11:06] redcat22 commented on #47
Hi,

No that dont work too I also tested with these and none worked:

conda install -c conda-forge ezc3d
conda install -c conda-forge/label/gcc7 ezc3d
conda install -c conda-forge/label/cf201901 ezc3d

[2019-03-10 11:52] melund commented on #47
@redcat22 It works for me. But I suspect you have a 32bit version of Anaconda. Conda-forge has dropped support for 32-bit versions. So unless you have a very old computer, you could try to install the 64-bit version of Anaconda.

[2019-03-10 12:27] pariterre commented on #47
Oh that makes sense, since all the channels he is plugged into are win-32-bit channels.

If you need to use a 32-bit python, you will have to compile ezc3d by yourself. Using CMake and visual studio, it should compile smoothly :)

[2019-03-10 13:19] redcat22 commented on #47
Hi all,

Thank you for the help. I already solved the problem. In fact I had a python 2.7 32 and python 3.7 64 bits but try to install it in the 3.7 version but some issue occour. I uninstall all the pythons and installed miniconda an now is working.

thanks once again.

[2019-03-10 13:28] #47 closed, assigned to nobody

[2019-03-10 17:43] redcat22 opened #48 "the c3d file dont open"
HI

Iam trying to read a c3d but I'm getting the following error:
Exception has occurred: RuntimeError
vector T too long

Note that I just used this code:
from ezc3d import c3d Test2 = c3d('D:\\H_Walk_001.c3d')

Note that I collected data during 14 minutes at 100 Hz therefore I have around 90000 frames in each file.
All my files demands large number of frames to be able to perform non linear analy

[2019-03-10 17:56] pariterre commented on #48
Hi!
Could you provide me with a c3d? Either you can drop it on a downloadable link or do a pull request https://github.com/pyomeca/ezc3d_c3dTestFiles

I could create it myself, but the C3D format as described by c3d.org doesn't allow for that amount of frames. So, your case is probably specific to the system you used to acquire them. As soon as I have a patch, I push it and notice you!

[2019-03-10 19:01] redcat22 commented on #48
HI,

Thank you very much., The file is in wetransfer (132 mb) you can get it here:
https://we.tl/t-jFqzmvIVJQ

I acquire the data with vicon nexus.
cheers

[2019-03-10 22:13] #35 closed, assigned to pariterre

[2019-03-10 23:48] pariterre commented on #48
There you go, Update to the 0.3.5 (conda update) and it should do the trick :)

[2019-03-11 10:27] redcat22 commented on #48
Thank you pariterre

Note: the tests were made with the file that I send you.
However I still found some errors (I will take a look in more detail when I have a litle of time but for now i detected this issues:

[code]
The TRIAL_ACTUAL_END_FIELD is wrong it gives a value of 24542 when it should be 90078 (for the file that I send you)

The Points_FRAMES also sems wrong according to this information

[2019-03-11 12:28] pariterre commented on #48
Hi there!
Here are some explanation on what is going on under the hood :
TRIAL_ACTUAL_END_FIELD : is, by standard, an int coded on 4-bits. This give a maximal value of 0xFFFF = 65535. The value that you get is the real value modulo 0xFFFF. This was actually the same problem with the first update I've made. However, there is no elegant way to solve that. I could interpret the value as the last near

[2019-03-11 12:32] pariterre commented on #48
Oh, I just wrote while you were changing the comment.

The first frame is not 1, it is 0 (the number are given in 0 based values)

[2019-03-11 12:38] redcat22 commented on #48
Hi pariterre

Thanks again.
While you answer I was also editing my initial post regarding the DATA START.
What to you mean by "by adding 0xFFFF if necessary" In python how can I get the real TRIAL_ACTUAL_END_FIELD adding 0xFFFF ?

[2019-03-11 12:43] redcat22 commented on #48
But that is strange in another file I get (in vicon) the values of first frame 10 and last frame 5724
therefore I get 5724 - 10 + 1 = 5715 (which seems correct with your code)
so why when I get in other file first frame=1 last frame=90078 this would give 90079 and not 90078 ?
This make sense?

[2019-03-11 12:52] pariterre commented on #48
Hello,

I actually mean the same as I would do, but knowing that it happens :
For example, if you have a value of END_FIELD = 24542, that means the real value is either : 24542 or 24542 + 65535 = 90077. I, as the programmer, I no clue if you really wanted 24542 or if you meant 90077. This is something only you can know (I can make some assumption, but these assumptions will be false sometime, e.g.

[2019-03-11 12:54] pariterre commented on #48
For you second question :
Because the tag ACTUAL_START_FIELD given by Vicon can be misleading. The real value for the first frame when you don't slice your data is 0 and not 1.

[2019-03-11 14:08] redcat22 commented on #48
pariterre, thank you very much for the clarification.

[2019-03-11 14:36] pariterre commented on #48
If these answer all your questions, I suggest that you mark the issue as resolve :) Otherwise, you can leave it open or if you plan to ask other questions related to this issue!

[2019-03-11 16:13] #48 closed, assigned to nobody

[2019-03-11 19:08] redcat22 opened #51 "Is there a simple method to get the XYZ coordinates of each marker?"
In matlab using btk I was able to get the coordinates simply by doing this:

acq = btkReadAcquisition(C3DFilePath);   % returns a handle to Retrieve C3DDada
XYZ = btkGetMarkers(acq);               % get the XY and Z coordinates of each marker.

I was wonder if in python I can achive something similar? If not what would be the best aproch to get only the XYZ coordinates of each marker? Assuming tha

[2019-03-11 22:37] pariterre commented on #51
Yep,
You can use the accessor function:
data = c3d.get_points()

:)

[2019-03-12 00:40] pariterre commented on #51
Hello again!
Please note that the pyomeca toolbox may be of great help too :)

[2019-03-12 09:34] redcat22 commented on #51
Hi pariterre,
Iam new to python and might be missing something but Iam not finding the get_points()
what  I am doing is:

from ezc3d import c3d
acq = c3d(FilePath)

then from acq  I only get:
Data
Header
Parameter
add_parameter
c3d_swig
write
__base__
__bases__
__class__
__init__

I am missing something here? Can you detail a little more how to get the coordinates please.

[2019-03-12 11:53] pariterre commented on #51
Hi redcat22!

Sorry I was highly unclear (because I was on my phone...). I've made an accessor for data, but I notice just right now, that it is not so obvious that it exists! I'll improve that in a near future.

Right now, it is "hidden" in the swig functions (for speed sake, I wrote the parsing command directly in c++, that is why it is there). So here is a minimal example (that I will copy to t

[2019-03-12 12:35] redcat22 commented on #51
Thank you. I am trying to get several parameters from c3d into python therefore after this done if you want I can send you the code which might be used as a guide about how to access some c3d parameters in python and might help others.

cheers

[2019-03-12 12:49] pariterre commented on #51
That would be awesome :)

[2019-03-12 19:37] romainmartinez commented on #51
Hi @redcat22 ! As pariterre mentioned, we designed [`pyomeca`](https://github.com/pyomeca/pyomeca) to work well with c3d. Pyomeca use ezc3d internally, but abstract from the user some low level functions.

We have some [tutorials](https://github.com/pyomeca/tutorials) to get you started.

For example:
[code]

[2019-03-13 01:41] pariterre commented on #51
Oh!
I actually misguided you, I designed c3d_swig.get_points() to be internal only.

The easy accessor is via the dictionary :
[code]
Then you can slice the data the same way I showed before.

I thought it was bizarre that I did not provided such interface! I added this to the example in the ReadMe :)

Sorry about that!

[2019-03-14 16:58] redcat22 commented on #51
thank you romainmartinez and pariterre.

pariterre note that c3d_swig.get_points() is working

I also attached something that can help others.
The code is not perfect but I believe that can help others. It covers almost all the parameters.
[C3DData.zip](https://github.com/pyomeca/ezc3d/files/2970281/C3DData.zip)

Edited to add a more robust python code file

[2019-04-18 22:04] Fiverdug opened #52 "Cannot read c3d files created by Xsens software"
Hi,
I'm trying to read c3d files created by MVN (software provided by Xsens) but I get the following error message:
Unexpected Standard exception from MEX file.
What() is:Group::parameterIdx could not find RATE in the group ANALOG
Thanks for your help!

[2019-04-18 22:47] pariterre commented on #52
That is due to the absence of mandatory ANALOG parameter. I've created a fix so C3D can be read anyway.

Thanks for reporting!

[2019-04-19 14:48] pariterre opened #56 "Remove parameters"
Right now, ezc3d can only add parameters and groups. It should be able to remove some (while keeping a valid c3d structure.

[2019-04-19 17:27] pariterre commented on #52
Version 0.3.6 is now out :)
Enjoy!

[2019-04-19 17:27] #52 closed, assigned to nobody

[2019-04-19 17:30] #51 closed, assigned to nobody

[2019-04-20 00:57] hmok opened #57 "eac3d vs. BTK"
Hi guys,

I notice you have good examples in Python to use ezc3d. I am just wondering if you may have more detailed tutorial that may have compared the commands with BTK ones. I can relate many of them but It would be great if I could quickly find them and make changes to codes I have based on BTK.

Any suggestion would be appreciated.

Cheers,
Hossein

[2019-04-20 01:35] pariterre commented on #57
Hi Hossein!
There is an ezc3d user on #51 (look for the last comment) that produced an top interface that looks like the BTK library. You may have a look. I was considering adding it in the example folder, but I wasn't sure of the relevance to have a BTK like interface. I you think that it is useful, I can integrate the example in my example folder :)

[2019-04-20 23:15] hmok commented on #57
Hi Pariterre,

That is great.The link is also very helpful. Thank you.

It would be very useful, I guess, because I think many people who have been using BTK would switch easier when they can see this integration in the examples. It is again up to you. Thanks again!

Cheers,
Hossein

[2019-04-20 23:23] hmok commented on #51
These codes are cool @redcat22. Thanks @pariterre  as well.

[2019-04-21 14:00] pariterre commented on #57
I added it to the example folder!

[2019-04-21 14:00] #57 closed, assigned to nobody

[2019-04-21 14:01] pariterre commented on #51
So you know, @redcat22 I've included your example in the example folder!

Thanks for your contribution :)

[2019-05-25 22:37] Dareczin opened #59 "Setting names for columns and rows"
Hi!

I am quite new to python and I mostly deal with c3d files with mokka. I have captured kicks for my research and I have many markers and analog data to analyze. For now I got tired exporting every marker to txt using mokka and doing computing in excel and I am looking forward to do it faster. I copy pasted read code from instruction but it gave me nothing. Should I specify exact names of param

[2019-05-25 23:04] pariterre commented on #59
Hi there!
I am happy to see ezc3d community is growing! I am looking forward to improve the help as well :)

Can you paste the script you are using so I can spot if you are doing something wrong? If not, I will give you my email so you can send me a c3d sample!

[2019-05-25 23:19] Dareczin commented on #59
Please give me your mail. My mail is dariusz.mosler@gmail.com - i will send you you example of c3d file. There is no code for now, i just tried copypaste code for python from documentation and it gave me othing wile loading a file. But loading was succesful, becouse I tried muliple files and retur was like some numbers 192, 198 etc, but it indicates that it was reading some data. I am really eager

[2019-05-26 09:10] Dareczin commented on #59
I found your example. Forgive me for my previous ignorance, it was late at
night and I did not put enough effort. I will try harder based on what you
already contributed in examples of btk_like_example.py

niedz., 26 maj 2019 o 01:04 Pariterre <notifications@github.com> napisał(a):

[2019-05-26 12:43] pariterre commented on #59
Hi @dareczin!
No worries! If I may, you should have a look to pyomeca which is a biomechanics library that I write with @romainmartinez. It uses ezc3d under the hood for reading c3d files, but offers plenty of interesting analysing tools for markers and analogs analyses

[2019-05-26 18:07] Dareczin commented on #59
Thank you very much! This looks promising, I will look into it.

Best regards,
Dareczin

niedz., 26 maj 2019 o 14:43 Pariterre <notifications@github.com> napisał(a):

[2019-05-26 19:46] pariterre commented on #59
Hi there,
Related to the mail you sent me, I strongly suggest using pyomeca :)
In order to compute the derivative, you can use the derivative function (twice if you need the acceleration). Plus, to find peaks, @romainmartinez wrote a ```detect_onset``` function that can help. Also, you can easily plot your time frame data (assuming matplotlib is installed) using ```plot``` method. Finally, there a

[2019-05-26 20:31] Dareczin commented on #59
I could not express my graditude, that you were willing to put the effort
to help me. I have installed pyomeca, and there is no error with importing
it, but unfortunetly I get this:

ValueError                                Traceback (most recent call
last)<ipython-input-2-cd3821c785d2> in <module>      4 # Load data
 5 markers = pyomeca.Markers3d.from_c3d('./B0264_dollyo_pilka_L_T01.c3d')/1000--

[2019-05-26 20:57] pariterre commented on #59
Oh Sorry!
That is an error I solved earlier today, but forgot to send the fix!
Did you installed it via "conda" or manually using "python setup.py install"? (Depending on how you installed it, I will have to send the fix at different places)

[2019-05-26 21:09] Dareczin commented on #59
I used conda

niedz., 26 maj 2019 o 22:57 Pariterre <notifications@github.com> napisał(a):

[2019-05-26 21:17] pariterre commented on #59
Ok!
I wait for the approval of my pull request from @romainmartinez and then I send the fix on conda!

[2019-05-26 21:25] Dareczin commented on #59
I will be up for some time, but maybe I will try it tommorow. Perhaps we
have differences in timezone (I am from Poland). Do you have idea how to
get time of a kick? Like storing max peak values and min values for those
peaks and then computing time of a kick? In pandas, beside values getting
messy with for example 1.4000e-7 I it do not get me the timeframe of
occurance. I am noob here and I only

[2019-05-26 21:56] pariterre commented on #59
I am from Québec (GTM-5), so huge timezone difference ;)

To get time frames, assuming you know the idx of peaks, you can simply use the "get_time_frame" method provided by pyomeca
[code]
I suggest that you have a look at the all the getter provided by pyomeca :)

[2019-05-26 22:40] romainmartinez commented on #59
Hi there,

I recommend that you spend some time reading and experimenting with the [pyomeca tutorials](https://github.com/pyomeca/tutorials).

My typical workflow with pyomeca is as follows:

[code]
Which can be written in a more compact way:

[code]
I like to use the time series and biomechanics specific functions implemented in pyomeca and then transform the data into a big pandas dataframe. The

[2019-05-27 17:47] Dareczin commented on #59
Thank you very much! It is working. Now I need to go back to pandas and
other tutorials. I owe you a lot.

Best regards,
Darek

pon., 27 maj 2019, 00:40 użytkownik Romain Martinez <
notifications@github.com> napisał:

[2019-05-27 18:21] #59 closed, assigned to nobody

[2019-05-28 19:54] pariterre commented on #59
@Dareczin
For your information, pyomeca is now hosted on conda-forge. Therefore, the installation of pyomeca should be using the conda-forge channel instead of the pyomeca channel :
[code]
Enjoy!

[2019-05-28 20:12] Dareczin commented on #59
Hi!

I used that method when you recommend that library for the first timet to
me:)

Slowly I am trying new things. I work 10h/day as physiotherapist so not
much mana left for each day for learining. The picture of data I sent in
previous massage gave me this type of data:

Index(['index', 'Force.Fx1', 'Force.Fx2', 'Force.Fy1', 'Force.Fy2',
       'Force.Fz1', 'Force.Fz2', 'Fx1', 'Fx2', 'Fy1', 'Fy

[2019-05-28 20:43] pariterre commented on #59
It seems you are using ```pyomeca``` good for you ;)
If so, the keyword is not ```Markers``` but ```Markers3d```
So very similar to what romain told you before with this replacing ```Analogs3d``` occurrences

That should solve your problem :)

[2019-05-28 20:51] Dareczin commented on #59
This is the same result

from pathlib import Path
from pyomeca import Analogs3d
import pandas as pd
data_path = Path("data")

data = pd.concat(
    [
        Markers3d.from_c3d(ifile)
        .time_normalization()
        .to_dataframe()
        .assign(filename=ifile.stem)
        for ifile in data_path.glob("*/*.c3d")
    ]
).reset_index()

#####

NameError                                 Traceb

[2019-05-28 21:05] pariterre commented on #59
You forgot to import it in the header
[code]

[2019-05-28 21:10] Dareczin commented on #59
Dumb me:P

I got something like this:

Index(['index', 'B0264:C7_X', 'B0264:C7_Y', 'B0264:C7_Z', 'B0264:CLAV_X',
       'B0264:CLAV_Y', 'B0264:CLAV_Z', 'B0264:CentreOfMassFloor_X',
       'B0264:CentreOfMassFloor_Y', 'B0264:CentreOfMassFloor_Z',
       ...
       'TRXP_X', 'TRXP_Y', 'TRXP_Z', 'Tarcza:T1_X', 'Tarcza:T1_Y',
       'Tarcza:T1_Z', 'Tarcza:T2_X', 'Tarcza:T2_Y', 'Tarcza:T2_Z', 'filename

[2019-05-28 21:15] pariterre commented on #59
What is the name of the Toe marker? Because it seems that these are actual markers... That would be surprising they are not in this vector.. (Just in case, please note that the "..." refers to the fact that not everything in the vector is listed)

[2019-05-28 21:26] Dareczin commented on #59
I am interested mostly in ltoe or rtoe markers (i am sending picture from
mokka). But if im calling data.colums, they should listed me every columnt
that was created, am I correct?

As you can see in the mokka editon of those c3d files there are plenty of
markers registered but markers3d did not return it in panadas series.

wt., 28 maj 2019 o 23:15 Pariterre <notifications@github.com> napisał(a):

[2019-05-28 21:31] pariterre commented on #59
Actually, since you writting on GitHub, the figures are removed ;)

Yep, but for saving space, Python show the first and last elements while the one in middle are skipped. If I recall well, ```print(your_list)``` shows every element of the list

[2019-05-28 21:35] pariterre commented on #59
The following code should list all the markers without skipping any.
[code]

[2019-05-28 21:40] Dareczin commented on #59
YES! This worked!

['LFHD',
 'RFHD',
 'LBHD',
 'RBHD',
 'C7',
 'T10',
 'CLAV',
 'STRN',
 'RBAK',
 'LSHO',
 'LUPA',
 'LELB',
 'LFRM',
 'LWRA',
 'LWRB',
 'LFIN',
 'RSHO',
 'RUPA',
 'RELB',
 'RFRM',
 'RWRA',
 'RWRB',
 'RFIN',
 'LASI',
 'RASI',
 'LPSI',
 'RPSI',
 'LTHI',
 'LKNE',
 'LTIB',
 'LANK',
 'LHEE',
 'LTOE',
 'RTHI',
 'RKNE',
 'RTIB',
 'RANK',
 'RHEE',
 'RTOE',
 'CentreOfMass',
 'CentreOfMassFl

[2019-05-28 21:42] pariterre commented on #59
Haha, you are welcome.

Good luck for your analyses!

[2019-05-28 21:46] Dareczin commented on #59
Thank you very much. I will have to compute time between min signals
and max signals value of velocity (star and hitting a target by kick)
so perhaps I will attack you again if I get to this point without
success.

I wish you good luck with all your projects and thank you for your
patiance my master!

wt., 28 maj 2019 o 23:42 Pariterre <notifications@github.com> napisał(a):

[2019-05-28 23:01] claraziane opened #60 "File Size"
Hello,

I am using ezc3d to read files from Vicon on Matlab but files above 45000 frames won't open. I get the following error :
Unexpected Standard exception from MEX file.
What() is:vector<T> too long
..

Error in OrgData (line 145)
        c3d = ezc3dRead(FileName);

Error in KinRecons_tout_Clara (line 126)
                    recons.TOBS = OrgData([RawPath filesep() files(iFiles).name],conf,fa

[2019-05-29 22:05] pariterre commented on #60
Hi @zianec,
This was due to an architecture decision I have made in the past. I've updated ezc3d so I can take MUCH larger C3D now (Tested on a c3d of 700 Mo).
Let me know if everything works!

[2019-05-30 18:33] claraziane commented on #60
I have tested it for files up to 1.24 GB and it works ! Thank you for the update @pariterre  !

[2019-05-30 18:44] pariterre commented on #60
Woot!

[2019-05-30 18:44] #60 closed, assigned to nobody

[2019-07-16 15:29] pariterre opened #64 "Invalid c3d when opening using Mokka and MotionBuilder"
I am moving a discussion that belongs to here :
Dear ezc3d creators,

I am writing this message because I have trouble making even a single valid C3d file. My project is in C++ and includes only 3D point data and no analog data.
I use MotionBuilder, MlsViewer and Mokka to check my files. MotionBuilder is able to load my c3d files, but contains differences with what I see when I print the files wit

[2019-07-16 15:32] pariterre commented on #64
Ok!
That is surprising..
I will have a try myself and let you know quick!

[2019-07-19 12:06] pariterre commented on #64
Issue found and solved by the PR #65

[2019-07-19 12:06] #64 closed, assigned to nobody

[2019-08-08 06:36] lasagnaphil opened #67 "Support for integer format in point data"
It seems like the integer format in 3D point data (described in page 57 of the C3D File Format User Guide) is not supported yet. Trying to load files with the integer format currently results in the following error message:
[code]

[2019-08-08 06:56] pariterre commented on #67
Dear @lasagnaphil
Indeed, up to now, I did not have access to an integer format file, so I did not have template to work on. If you could provide me with a file (to my email address), I will implement it soon :)

[2019-08-08 07:31] lasagnaphil commented on #67
Sadly, the files that I have cannot be disclosed to others due to strict security/license reasons. But from what I can tell from loading the file with another library (py-c3d): the file seems to be created in a DEC processor (which is pretty old by today's standards, I guess!)

It seems that there are some example files in integer format in the official c3d site: https://www.c3d.org/sampledata.htm

[2019-08-08 07:35] pariterre commented on #67
Wow interestingly enough, I completely missed that test suit :|
I will focus on DEC, int!

I let you know when it is done :)

[2019-08-08 20:15] pariterre commented on #67
@lasagnaphil
Are you building from the source or you are installing from conda? If it is the former, could you try your files to see if it gives normal values? Otherwise, I will release a new version soon so it will be available from conda (even though I would prefer to confirm this is a working version!)

[2019-08-09 02:08] lasagnaphil commented on #67
I’ve installed it from the ArchLinux AUR [PKGBUILD](https://aur.archlinux.org/packages/ezc3d/) (which I’ve modified it manually to use the latest version, v1.01). So basically I’m building from source.

[2019-08-09 05:17] pariterre commented on #67
Oh! I did not know it was hosted there!
I am not sure how to update it... I'll create the 1.1.0 release today so you will be able to test :)

[2019-08-09 06:01] lasagnaphil commented on #67
I've tried the master branch with the updated PR, and it works like a charm! Thanks for all the work!

As for the PKGBUILD, you don't have to worry about it, since it involves just changing a few lines (like version numbers). I'll later poke a message to the package maintainer to update it to the latest version.

[2019-08-09 07:35] pariterre commented on #67
Sweet, so I'll release the next version! I've decided to call it "Nostalgia" because ezc3d is now able to read old fashion c3d haha!
Thanks for the report

[2019-08-09 07:35] #67 closed, assigned to nobody

[2019-08-09 07:39] #15 closed

[2019-09-10 09:08] pariterre commented on #39
```Could not open the c3d file``` is actually not that bad... Therefore I'll keep it like that!

[2019-09-10 09:08] #39 closed, assigned to nobody

[2019-09-10 16:02] pariterre commented on #24
I've had a quick look with octave, but conda-forge doesn't even provide windows binaries...

[2019-09-10 16:02] #24 closed, assigned to nobody

[2019-09-23 21:10] romainmartinez opened #78 "return only specified columns/index"
When you already know the channel names you want extract from a c3d, speed and memory footprint could be optimized if ezc3d return only the specified columns/index.

For example, when paired with Delsys, Vicon creates a large number of empty analog channels that increase memory usage for nothing.

[2019-09-23 21:11] pariterre commented on #78
Do you talk about the Python interface or the actual core?

[2019-09-23 21:44] romainmartinez commented on #78
I guess it will be faster to implement it in the ezc3d core. However, I don't know if you can parse the channel names first and then read only the corresponding data as I'm not really familiar with the internal implementation.

In python, I implemented this:

[code]

[2019-09-24 19:55] pariterre commented on #78
Ok, I'll have a look if I can implement this in the core... Like that I could create the release GetWhatYouWant B-)

[2019-09-24 20:02] romainmartinez commented on #78
This is just an idea and a "nice to have" feature. `GetWhatYouWant` could be release anytime :)

[2019-10-15 16:33] marnunez commented on #40
Hi @pariterre! I'm trying to use ezc3d to export to c3d from tdf files, and programatically add some markers/analogs of my own in there.
BTS's TDF Inspector allows exporting of tdf files to c3d.

[BTS_C3Ds.zip](https://github.com/pyomeca/ezc3d/files/3730342/BTS_C3Ds.zip)

I attach samples of the original c3d exported with TDF Inspector and the result of doing:
[code]

Checked both files with Mokka

[2019-10-15 17:39] pariterre commented on #40
Hi @marnunez
It seems that you are using a previous version of `ezc3d` (I sent a major fix last week). The previous version could explain why it mixes the channel description. Could you try the version 1.2.0?

[2019-10-15 17:43] marnunez commented on #40
I'm using ezc3d-1.2.0py37h79cbd7a_0  from conda-forge

[2019-10-15 18:15] pariterre commented on #40
ok... That is strange since the ezc3d.c3d file that it creates here doesn't resemble the one you produced :S
I'll look into it!

[2019-10-15 19:53] marnunez opened #82 "Add more detailed developers documentation"
I've just cloned the repo to do some testing, and I'm having some trouble figuring out how gtest works or where (or if) a setup.py is generated. The cmake part of it was pretty straight forward (OpenSIM toolchain is a harsh teacher hehe).

[2019-10-15 21:33] pariterre commented on #82
Hahaha!

For gtest, it is supposed to be straight forward, but you cloned ezc3d the only day it is not!

I've notice that I included a 3Mb folder that should not be there a week ago, and I corrected the repo in a destructive manner. However, doing so, it also removed the gtest submodule.

Usually, if you run CMake, it will download and compile gtest by itself, but it fails today because of this! S

[2019-10-16 11:44] marnunez commented on #82
No worries! Just wondering weather the BTS c3d passes all normal tests. C++ is definitely not my thing...

[2019-10-16 16:37] pariterre commented on #82
Hi @marnunez
I just had a check on the repo and everything should be fine now.
Quick question, when you say to explain how gtest works, do you mean having an actual part of the ReadMe explaining how to use EXPECT macros or you mean how to make it compile and run?

[2019-10-16 18:45] pariterre commented on #82
Also, I just made the fact that the c3d are taken from github instead of having them in the repo.
Please note that because of the changes made, the repo won't fit anymore (this is highly unusual, but it is necessary when deleting history of a file from git). Meaning that you should actually delete your fork and redo it then incorporate your changes afterward (otherwise, it will bring that the file

[2019-10-17 13:55] marnunez commented on #40
I've just build ezc3d from master, and tried the same with the Qualisys.c3d, the only one with force platforms, same result.

Before...
![original](https://user-images.githubusercontent.com/1470552/67014710-aba11a00-f0cb-11e9-926d-a26137f68255.png)
After.. Force platforms gone
![after](https://user-images.githubusercontent.com/1470552/67014820-e014d600-f0cb-11e9-8093-e62bafe80657.png)

[code]

Can

[2019-10-17 14:35] marnunez opened #87 "Add ezc3d.__version__ to python bindings"

[2019-10-17 14:56] marnunez commented on #82
I was thinking the latter. You know, how and where the runUnitTests binary is created, remind users to add the files to PATH, etc. The EXPECT macro was surprisingly intuitive.

Found out the hard way, when "no history was shared" between my fork and upstream hehe. Remade the fork and that was that, no troubles.

[2019-10-17 20:15] pariterre commented on #87
@marnunez
The PR #88 should provide you with the version number, but I am not sure it is done properly. As a user did you just wanted to type ezc3d.__version__ and that would return a version (e.g. "1.2.1")? If so, that is probably alright :)

[2019-10-17 21:02] pariterre commented on #40
@marnunez
I don't understand where the difference come from... I actually looked at the generated binary versus the original and they are almost identical (except for irrelevant stuff like EZC3D version). However, when I compare to the one you provided me, it definitely looks like a generated c3d from an older version of EZC3D. Are you sure which version you are using? The last version should add

[2019-10-18 01:46] marnunez commented on #40
Double checked it. Built from master on a new conda env, on a Windows 10 machine that never had ezc3d.

![imagen](https://user-images.githubusercontent.com/1470552/67059540-e8066180-f12f-11e9-8603-98a9f0a73b83.png)

[2019-10-18 02:22] marnunez commented on #40
Same with new build on a Debian sid using g++

![imagen](https://user-images.githubusercontent.com/1470552/67060717-50efd880-f134-11e9-9aed-4f5e2d8714a3.png)

Mokka seems to work ok in wine, if you don't want to switch to Windows.

[2019-10-18 03:49] marnunez opened #91 "Trouble parsing and rebuilding c3Ds with Python bindings"
This is a non exhaustive list of things I found different in the metadata when parsing and rebuilding the Qualisys and BTS c3ds through ezc3d and checked with Mokka

- All field descriptions are somehow gone in the rebuild files
- Most char fields seem to have wrong length informed
- Nested array fields such as CORNERS are seen as nested (e.g.: 3x4x2) in the original, as the sum result (24) in the

[2019-10-18 13:59] pariterre commented on #91
Ok definitely! the CORNERS is definitely the problem here! I can fix that soon :)
For the parameter uppercase, this is indeed intentional since the c3d.org suggests that
Thanks for the spot, I will correct all of these differences ASAP!

[2019-10-18 15:06] marnunez commented on #91
Just found out this occurs only with Python, none of this happens with the C++ classes.

[2019-10-18 18:40] #87 closed, assigned to nobody

[2019-10-21 13:32] pariterre commented on #91
Hi @marnunez
PR #90 and #92 should now solves these problem.
When you confirm you satisfaction, I release the new version on Conda!
Thanks again! :)

[2019-10-21 13:44] pariterre commented on #40
Nothing special has been done in regard to this, but the C3D are now compliant, so nothing more should be done

[2019-10-21 13:44] #40 closed, assigned to nobody

[2019-10-21 14:09] pariterre commented on #82
Hi!
I added some explanation in the ReadMe, but wasn't sure what to write exactly.. Hopefully, this is enough!

[2019-10-21 14:09] #82 closed, assigned to nobody

[2019-10-22 23:06] marnunez opened #93 "Badges and Windows build"
This is not high priority, but might as well have them now before things get more complex. Badges in the readme file might prove useful, could add coverage badge as well. As much as I like Linux, I use Windows at work, like many others. Adding a Windows build would be nice. Travis added recently a windows environment, might be enough. Appveyor could be another option.

[2019-10-23 11:02] pariterre commented on #93
Hello!
I am not sure what you mean.. As far as I know, ezc3d is tested for Linux, Windows and Mac by Travis, as well as it is built and distributed for all three platform on conda-forge.

[2019-10-24 13:54] marnunez commented on #93
Forget about it, I've been building from source and completely forgot about the conda builds. What I ment by badges is that it might be useful to see at a quick glance when the dev branch is not passing the tests. A travis badge in the readme file, with the link to the project automatic builds.

[2019-10-24 14:59] pariterre commented on #93
Ok! Make sense, I'll look into that

[2019-10-25 15:27] pariterre commented on #93
Done! Thanks for the comment!

[2019-10-25 15:27] #93 closed, assigned to nobody

[2019-10-27 14:01] #91 closed, assigned to nobody

[2019-11-12 05:31] lasagnaphil opened #99 "nonConst version of member functions missing (documentation error?)"
I was trying to modify some points in a c3d file, and the current README.md suggests to use a nonConst member function to do this elegantly. However I couldn't find any of those non-const member functions in the library. Am I doing something wrong here, or is the documentation outdated?

P.S. What I was trying to do was to scale all the points by a certain ratio, and I could do it in a one-liner i

[2019-12-03 11:48] melund opened #100 "Parameters changes to upper case"
It looks like ezc3d changes parameters to upper case when I read in a c3d file.

Is this a bug or intended?.

Here is a view from before:
![image](https://user-images.githubusercontent.com/1038978/70048851-958fe000-15cb-11ea-8197-d9567db1f519.png)

And after the file has been through ezc3d:
![image](https://user-images.githubusercontent.com/1038978/70048905-b2c4ae80-15cb-11ea-9be2-3e5686ca5ff4.png

[2019-12-03 12:50] pariterre commented on #100
Hello!
This is actually intended, but not necessary. The standard suggest to write them upper case but doesn't say it has to. From a programmer perspective, it helps to prevents a user from overwriting a mandatory parameter (e.g. POINTS:LABELS), but it can be annoying..

Changing this should not be a problem, but I cannot decide which I prefer..

[2019-12-03 13:18] melund commented on #100
I wouldn't mind if ezc3d always created parameters as upper-case. But if I load an existing c3d file to change a marker etc  and save it back to disk then all my parameters are suddenly transformed to upper case. So I can no longer use with other applications which expected the original name.

[2019-12-03 13:33] pariterre commented on #100
I see the problem, I think the best way is to not force uppercase then. I'll make the fix!

[2019-12-03 16:36] pariterre commented on #99
I am really sorry, I completely forgot to answer your question. If it happens ever again, feel free to ping me again!

Indeed, nonConst has been removed, but I forgot to change the readme, thanks for pointing it out.

There is no currently implemented method to operate directly on points, but I think it is a good idea, I will definitely consider it (simple operation like additions and multiplicati

[2019-12-03 16:43] pariterre commented on #99
The documentation has been corrected! Thanks

[2019-12-09 13:54] melund opened #101 "Residual marker info lost after save"
The residual marker information seems to disappear when we I use ezc3d to save a file back to disk.

I use the residual to detect when a marker drops out.

[2019-12-09 14:04] pariterre commented on #101
Hi!
Do you use the last version of ezc3d? I thought I solved that issue previously! In any case, I'll have a quick look tomorrow

[2019-12-09 19:15] pariterre commented on #101
Hum, I think I know
Are you using ezc3d from Python or MATLAB? It is possible that this information is discarded using the binder... I'll see what I can do!

[2019-12-09 19:50] melund commented on #101
Good question. It was running on a remote computer. I will take a look to see if the version was upto date.

[2019-12-09 19:50] melund commented on #101
I was using Python...

[2019-12-09 19:58] pariterre commented on #101
Yup, I just looked at it and I confirm that I discard that information.
I can change that so the values are preserved, and I think it makes sense. However, that means the data retrieved from `c3d['data']['points'] will no longer be 3d column-vector that can be used with an homogeneous matrix of transformation (the column of a specific point being "XYZ-1" that is with a 1 on the 4th component), but

[2019-12-09 20:11] melund commented on #101
If that is a problem, then maybe there should be a different interface to this extra information. C3D files usually also contains both a CamMask and Sign variable in addition to the residual for every point.  Although I have never used CamMask and Sign for anything.

[2019-12-09 20:33] pariterre commented on #101
That is not a technical problem per se, actually, I already made a successful test on my fork implementing it. However, this is more a usability interrogation that I have. As you said, not much people uses the camera masks info (probably due to the fact that it is limited to 7 cameras...).
I could write this info in another tag (e.g. c3d['data']['points_residual']). My fear is that if someone trie

[2019-12-10 13:25] melund commented on #101
I use some programs which looks at the residual value and interpret a -1 as a marker dropout.

Most people would surely forget to set the `c3d['data']['points_residual']` when creating a new point. Couldn't it be set a default value if it wasn't specified by the user?

[2019-12-11 16:48] #101 closed, assigned to nobody

[2019-12-11 16:48] #100 closed, assigned to nobody

[2019-12-11 16:49] #99 closed, assigned to nobody

[2019-12-12 14:04] melund commented on #101
@pariterre  It didn't seem to solve it :(

![image](https://user-images.githubusercontent.com/1038978/70718230-1c416d00-1cf0-11ea-98f4-e0ee6e2e84ae.png)
![image](https://user-images.githubusercontent.com/1038978/70718257-2cf1e300-1cf0-11ea-8656-50ac542310b1.png)

[2019-12-12 14:06] pariterre commented on #101
oh.. I'll have a second look.. sorry about that!

[2019-12-12 14:37] pariterre commented on #101
This Issue is finally addressed here: #105

[2019-12-13 11:57] marnunez commented on #101
Hi @pariterre! Have you considered using [numpy masked arrays](https://docs.scipy.org/doc/numpy/reference/maskedarray.html) for the "XYZ-R" format? It looks like the tool for the job.

[2019-12-13 15:10] pariterre commented on #101
@marnunez
That is an interesting point. I am 90% happy with what I have done using the extra tag. It has the advantage to be standardize with the MATLAB API. @melund do you have a preference?

[2019-12-13 16:01] melund commented on #101
No. I don't have any preferences. I thinks others could decide.

[2019-12-13 18:13] pariterre commented on #101
Ok, lets keep the extra tag then. I'll keep in mind these masked data though I may change my mind in the future!
Thanks for pointing this out @marnunez I did not know this feature!

[2020-01-20 20:00] romainmartinez opened #106 "Data are different when read on MacOs"
The data look different when a c3d is read on Linux and Windows compared to MacOs as shown in [this test](https://github.com/romainmartinez/motion/runs/399610948).

Here is a code snippet to reproduce the issue, with [this c3d](https://github.com/pyomeca/pyomeca/blob/dev/tests/data/markers_analogs.c3d):

[code]

[2020-01-21 15:05] romainmartinez commented on #106
Funny thing is, Macos replaces NaN with 0's. I made a temporary fix with `array[array == 0] = np.nan`.

If the problem persists over time, we should do a fix I guess?

[2020-01-21 15:21] pariterre commented on #106
If I see that mac doesn't solve this in their future release, I will add this fix to the main interface. For now, I think the 0 == NaN solution is better (I prefer not manufacture the data by hand, if I can avoid that!)
That is okay for you?

[2020-01-21 15:28] #106 closed, assigned to nobody

[2020-01-24 11:02] mitkof6 opened #108 "Make install requires sudo (Linux) for copying Python bindings"
When building the project with Python bindings, it is required to provide sudo privileges so that the Python bindings are copied in /usr/lib for example, even if the CMAKE_INSTALL_PREFIX is set otherwise. It would be best if the Python bindings are copied in the install directory. Then they can be typically installed in a user defined directory manually.

[2020-01-24 11:55] henrypowell87 opened #109 "Memory Allocation Error When Reading a .C3D"
Hi there,

I'm working on a python script to format the CMU Mocap dataset ([http://mocap.cs.cmu.edu/faqs.php](url)) from .c3d files to .csv files of [frames * makers] dimensional arrays for each captured movement. For the most part simply importing each .c3d file and formatting the data to the correct shape and type works fine. However, in some cases the script throws a memory allocation error:

[

[2020-01-25 19:57] pariterre commented on #108
Dear @mitkof6
Actually, Python cannot be found using CMAKE_INSTALL_PREFIX using the FindPYTHON I have. It actually runs Python and determine which one you used to do so and then refers to that particular one.

That means if you want to automatically find Python3_EXECUTABLE, you have to load the environment in which you want to use it from. Then it should find it by itself. Otherwise, you have to m

[2020-01-25 20:06] pariterre commented on #109
Dear @henrypowell87

Thank you for reporting this bug! It seems that the bug you describe is Mac related. I ran your minimal program and could not reproduce it from my Ubuntu 18.10.
I do not have access to a Mac for the weekend. I'll ask a colleague at the lab on Monday to see if I can reproduce the bug!

I let you know ASAP :)

[2020-01-27 13:45] emiltoft opened #111 "pip install option"
Hi
Good work on developing a c3d-manager. There is defiantly a need for it since BTK development is ended - does not support python3. Are you thinking of including a pip implementation as well (as a supplement to Conda? It would be very helpfull.

Kind regards,
Emil

[2020-01-28 15:38] pariterre commented on #111
Dear @emiltoft
This is indeed something I am considering. I am not hugely familiar with pip so I have to make so research (especially for the fact that the backend is in C++ and therefore needs to be built before it is deployed.

I'll let you know soon if I am successful in my research!

[2020-03-15 21:33] pariterre commented on #109
@henrypowell87
Sorry for the delay! I've had a lot of things to do during the last weeks.

I tried to reproduce the error you reported using the `06_02.c3d` but I could not reproduce it... Using both Linux and MacOSX version installed the last version on conda, I was able to read the file properly.
I must admit that I am a little clueless about the problem then... Maybe the path to the file was no

[2020-03-15 21:35] pariterre commented on #108
For the later readers, using `pkgconfig` from conda-forge should also fix the problem

[2020-03-28 15:57] mrrezaie opened #115 "Python installation without conda"
Hi,
I'm interested in using EZC3D as an alternative to BTK in python 3.7 in windows os.
I'm not an advanced python user and don't use Miniconda or anaconda (due to some incompatibilities). Would you please tell me how I can install EZC3D without conda?
I was looking for a file named setup.py but I couldn't find any.
Regards

[2020-03-29 00:44] pariterre commented on #115
Dear @kernalnet,

The Python binder, is actually just a binder. Meaning that the core is written in C++. Thus, you have to compile it first. The procedure for that highly depends on which OS you use. In all cases, unless you have some experience in, it may be a bit complicated.

Therefore, I strongly suggest the use of Anaconda. If you really can't, you still can go to anaconda.org and find the bi

[2020-03-29 21:38] chrisdembia opened #117 "Installing the package installs the python package globally"
I think it is good practice to install files *only* into `CMAKE_INSTALL_PREFIX`. Currently, the python package is installed into the system's Python site directory, regardless of `CMAKE_INSTALL_PREFIX`.

If the user wants this, then they could set `CMAKE_INSTALL_PREFIX` to `/usr/local/`.

[2020-03-29 23:46] pariterre commented on #117
Actually it is installed to the Python selected in CMake. So, if you use python from an environment provided by Miniconda (defined in the variable Python3_EXECUTABLE), then it is installed in that particular folder. The problem of not doing this is that the user must add the installation folder to the PYTHON_FOLDER environment variable, and honestly, for what I've seen, it is a complicated extra s

[2020-05-07 01:30] zan3566 opened #122 "Matlab Binder"
Hi,
I downloaded Camke and Visual studio 2017 to install ezc3d.

After I manually type the location of relevant Matlab libraries, Cmake can configure and generate normally.
![a9200a87447df2e4704eaaef2a42ab8](https://user-images.githubusercontent.com/50066502/81244432-cd58f300-9055-11ea-8d98-5a3783514391.png)
After generating it, I opened  "ezc3d.sln" in visual studio 2017. I click "build" option f

[2020-05-07 03:40] pariterre commented on #122
Hi @zan3566 !

Usually install fails when Matlab_ezc3d_INSTALL_DIR (or CMAKE_INSTALL_PREFIX) [in CMake] are set to a directory where you need admin rights. Could you show these two keys in CMake?

[2020-05-07 03:48] zan3566 commented on #122
Hi @pariterre ,
I changed the folder of CMAKE_INSTALL_PREFIX, and it still failed when I installed it.
![ad8e5ad94d029693f7ce1563908644f](https://user-images.githubusercontent.com/50066502/81252522-7c52fa00-9069-11ea-832c-f7a062d5654b.png)
![b0e0bcc990b75e0dc0b319b707d17ed](https://user-images.githubusercontent.com/50066502/81252528-7e1cbd80-9069-11ea-8dd7-871d624ffefa.png)

[2020-05-07 04:05] pariterre commented on #122
Hi again!
CMAKE_INSTALL_PREFIX is one of the two that must be changed (actually, this ones doesn't need to be in Matlab at all).

The relevant one for Matlab is Matlab_ezc3d_INSTALL_DIR (it may be in the advanced option). I usually put it in My documents/MATLAB

[2020-05-07 04:15] zan3566 commented on #122
Thank you so much for replying to me!
I have chosen the advanced option, but there is no Matlab_ezc3d_INSTALL_DIR variable.
![f966fe1d7a352c143e63cec18025ea4](https://user-images.githubusercontent.com/50066502/81254023-56c7ef80-906d-11ea-8d39-d762d1fa9349.png)

[2020-05-07 04:42] pariterre commented on #122
That is surprising... You said that even though you were giving the MATLAB_ROOT_DIR, it wasn't filling anything be itself? Could you paste me the output of CMake?

[2020-05-07 04:46] zan3566 commented on #122
Sure! The output is below.

[Output.zip](https://github.com/pyomeca/ezc3d/files/4590751/Output.zip)

[2020-05-07 14:00] pariterre commented on #122
I meant the message output in the CMake box :sweat_smile:

[2020-05-07 14:07] pariterre commented on #122
I install a virtual machine, I'll make some test on Windows to see, if I can reproduce what you are experiencing :)

[2020-05-07 14:17] zan3566 commented on #122
Sorry, I misunderstood hah, thank you so much! I really appreciate it!
this is the output of Cmake,
![image](https://user-images.githubusercontent.com/50066502/81305125-4e010900-90c1-11ea-847b-157d17b48cca.png)

[2020-05-07 14:20] pariterre commented on #122
This indeed looks like a bug, I still need to install Visual Studio. I come up again when everything is installed!

[2020-05-07 16:02] pariterre commented on #122
@zan3566
This was a false memory I had. On Windows, you must just make sure that CMAKE_INSTALL_PREFIX is somewhere you have rights access.

I just made a video on how to compile and install, please have a look, hopefully this gonna help!

(I'll send you by mail, since I don't know how to import a video in here, please answer here anyway)

[2020-05-07 22:02] zan3566 commented on #122
Thank you so much! !!

On Fri, 8 May 2020 at 2:03 am, Pariterre <notifications@github.com> wrote:

[2020-05-08 13:15] pariterre commented on #122
@zan3566
Have you manage to install everything properly? :)

[2020-05-08 13:22] zan3566 commented on #122
Hi @pariterre ,
Thanks for your replying. Sorry I haven't received the video you made for installing the binder. Could you send it to me?

you mentioned, "CMAKE_INSTALL_PREFIX is somewhere you have rights access." Does that mean I just need to change the path of it? but I changed it before, it still failed and I showed the picture above. Could you help check it? Hope it will take you so much time.

[2020-05-12 12:38] #122 closed, assigned to nobody

[2020-05-20 21:29] oscampo opened #124 "Error building for Matlab in Win10"
Hi, I'm trying to build ezc3d for matlab in win10. When Building the solution on VS16.0.0 I obtain the following errors:

2>LINK : fatal error LNK1181: cannot open input file 'ezc3d.lib'
2>Done building project "_matlab_Read.vcxproj" -- FAILED.

3>LINK : fatal error LNK1181: cannot open input file 'ezc3d.lib'
3>Done building project "_matlab_Write.vcxproj" -- FAILED.

I searched for that .lib file

[2020-05-21 13:02] pariterre commented on #124
Hi @oscampo
Based on this error message and the fact that you did not find ezc3d.lib file, it feels that you did not built the main project prior to building the MATLAB binder.

You can have a look at this video I've made for someone else who had problem building the project!
https://www.youtube.com/watch?v=gWno_NXrITA&feature=youtu.be

Please reach back if it does not solve the problem :)

[2020-05-21 14:57] oscampo commented on #124
Perfect. Good explanation! Thank you so much!

[2020-05-21 14:57] #124 closed, assigned to nobody

[2020-06-02 13:23] MelaroJ opened #125 "Matlab crashes when using ezc3dWrite()"
Hello there,

I'm trying to append virtual markers to the c3d file through Matlab and when I execute the ezc3dWrite() function while inputting the new c3d structure Matlab crashes.

[C3D_Import_Add_Virtual_Markers.txt](https://github.com/pyomeca/ezc3d/files/4717372/C3D_Import_Add_Virtual_Markers.txt)
[matlab_crash_dump.txt](https://github.com/pyomeca/ezc3d/files/4717361/matlab_crash_dump.txt)

[2020-06-02 16:53] pariterre commented on #125
Hello!

What you wrote seems right, so I'll have a look why you get a core dump! I'll reach ASAP!

[2020-06-02 17:38] pariterre commented on #125
Based on the code you provided, I was unable to reproduce a core krash. However, I spotted a mistake that may explain your bug. The line 78 should read: `currentVirtualMarker = virtualMarkerLabels{k};` (with curly brackets) because otherwise it stores the cells containing the names, instead of the names themselves. In any case, that does not produce a segmentation fault here (but it does raise an

[2020-06-02 17:45] MelaroJ commented on #125
Thanks for the quick response! I'll edit that line and run it on one of the
test files and get back to you ASAP.

Jake

On Tue, Jun 2, 2020 at 1:42 PM Pariterre <notifications@github.com> wrote:

[2020-06-02 17:58] MelaroJ commented on #125
Ran into the same issue with the Vicon.c3d test file using the simplified
code.

I'm running Windows10 on my PC, but I'm not sure what you're asking for
when you say "last commit I compiled from".

Jake

          Access violation detected at Tue Jun 02 01:53:08 2020 -0400
--------------------------------------------------------------------------------

Configuration:
  Crash Decoding           :

[2020-06-02 19:22] pariterre commented on #125
That seems to be OS related then, I'll test on a windows computer as soon as I have access to one (I have colleagues that I can ask), I'll come back to you afterwards!

The compilation question is more related on how did you install ezc3d?

[2020-06-02 19:29] MelaroJ commented on #125
I followed the youtube video you posted in response to another issue, i.e., downloaded CMake and VisualStudio

[2020-06-02 21:49] pariterre commented on #125
Okay! I'll have a look very soon :)

[2020-06-03 00:05] pariterre commented on #125
Ok my bad... I actually made the same mistake as you! I wanted to test if it was the actual problem, so I changed the curly brackets for round brackets, but when I copied the code to send it here, I forgot to put back the curly brackets...

[code]

This should actually works!

[2020-06-03 02:23] MelaroJ commented on #125
Worked like a charm!

Thanks a ton!

JM

[2020-06-03 13:06] pariterre commented on #125
Just as a reminder for me, I will leave this issue open so I can produce a proper error message when non strings are casted as string.
Thanks for finding the bug!

[2020-06-09 14:46] henrypowell87 commented on #109
Hi @pariterre sorry I completely missed this with everything going on. Yes everything just about worked in the end although I don't remember what fixed it!

Apologies for the late reply and thanks for looking into it,

Henry

[2020-06-09 16:01] #109 closed, assigned to nobody

[2020-06-09 16:02] #115 closed, assigned to nobody

[2020-06-16 18:14] aclouthier opened #128 "Missing point data written as zeros in python"
The point data I am trying to write contains some nans to represent missing markers. These get set to 0 when I write the c3d file in Python. Is there a way to have these be recognized as not visible in the c3d file rather than being set to 0?

[2020-06-16 18:35] pariterre commented on #128
Hello @aclouthier !

When you say that they are set to 0, do you mean if you read them in another software or if you read them back using ezc3d? I've had a quick try with the "Vicon.c3d" test file which contains nan:
[code]

But I see where they are set to 0 in Python, so maybe if you read them in an external software, it puts them to zero. In that case, I can make a quick fix for that!

[2020-06-16 18:51] aclouthier commented on #128
I just checked, and if I read it back in using ezc3d, they are nan. But if I open it in another software they are zero. I tried Visual3D and Mokka and it is 0 in both.

Thanks for your help!

[2020-06-16 19:05] pariterre commented on #128
The PR #129 should fix the problem!
If you are compiling ezc3d yourself, it will be available in minutes. If you have installed using conda, please tell me, I will then trigger a new release so you can install the last version easily :)

[2020-06-16 19:10] aclouthier commented on #128
I installed using conda. Thanks again!

[2020-06-16 19:20] pariterre commented on #128
Ok, I'll make a Release, this takes some time for all the things to update, so count 1 to 2 hours :)

Pleased to have helped!

[2020-06-26 20:31] pariterre commented on #125
Thanks again for reporting!

[2020-06-26 20:31] #125 closed, assigned to nobody

[2020-06-26 20:38] pariterre commented on #117
After thinking about it, I still think it makes sense to install things into the folder of selected Python. To help, I improved the CMake finder for Python and therefore should find current Python (and not the system one by default). But if one wants to use its system Python (even though it is probably a bad idea to do so), it seems to me that it makes sense to install ezc3d into the `site-package

[2020-06-26 20:38] #117 closed, assigned to nobody

[2020-07-18 08:46] mitkof6 commented on #108
Hi @pariterre,

I am coming to this due to the review of pyomeca. I was able to successfully build this project and install it only through sudo on Linux. When I use CMAKE_INSTALL_PREFIX I typically install everything in a non-system directory (e.g., `~/dev/ezc3d/install`). I would like to avoid giving sudo prevelagies when running `make install`. In the current implementation even though things a

[2020-07-21 13:12] aclouthier commented on #128
Hi again! I noticed it was still writing the missing markers as 0s, but if I remove the if statement that is supposed to set the nans it seems to work and the nan markers are missing when I open the c3d in Mokka.

            for i in range(nb_points):
               # if np.isnan(data_points[:, i, f]).any():
               #     pt.set(np.nan, np.nan, np.nan,-1)
               # else:

[2020-07-23 12:55] pariterre commented on #128
I was maybe overthinking it!
Can you Pull Request this modification? So you get the credit for the fix :)

[2020-07-23 13:04] pariterre commented on #108
Hi @mitkof6
Thanks for reaching out! Sorry I wasn't able to answer before, I was out of town.

I see the problem. My CMakeLists.txt is indeed optimized for Conda users, which may be a problem... One thing I could do is to add another install variable (e.g. `PYTHON_INSTALL_PREFIX`) which would take the `PYTHON_SITE_PACKAGE` as default value, but could be override by the user so he can install it an

[2020-07-23 15:43] aclouthier commented on #128
Ok, I made a pull request. Let me know if I've done that wrong though, I've never done a pull request before to be honest!

[2020-07-23 15:51] pariterre commented on #128
Fixed by @aclouthier  in #134
GG

[2020-07-23 15:51] #128 closed, assigned to nobody

[2020-07-23 18:41] mitkof6 commented on #108
Hi @pariterre ,

Yes, I think this is ok. I can give it a try during the PR.

[2020-07-23 19:32] mureva opened #135 "setting first frame"
I have point data which I have managed to write to a .c3d file. Now I realise that to make it line up with data from another source which has a non-zero "firstFrame", thus I need to set the "firstFrame" in my data.

I have tried c3d.header().firstFrame(n) but get a compile error because c3d.header() returns a const reference.
So I instead changed my code so that instead of calling c3d.frame( newFr

[2020-07-23 19:51] pariterre commented on #135
Hello @mureva !

As for the code you provided, it seems that you are using the C++ API? I will assume that for my answer :)

Header should not be changed manually since it is mostly updated via the parameters. Still there are some interface which are provided. Have you tried the `setFirstFrame` interface? That would be to set your c3d with this interface.
[code]
This should set the first frame to

[2020-07-24 06:54] mureva commented on #135
Thanks - I didn't see that method mentioned in the online docs, guess they must be out of date(?)

[2020-07-24 06:54] #135 closed, assigned to nobody

[2020-07-27 14:05] pariterre commented on #108
Hello @mitkof6 !
If you want to give it a quick try, if it answers your concerns, I will merge :)

[2020-08-03 06:28] mitkof6 commented on #108
@pariterre you can close this. Thanks for addressing this.

[2020-08-03 11:44] pariterre commented on #108
Sweet, thx for reporting!

[2020-08-03 11:45] #108 closed, assigned to nobody

[2020-08-04 17:16] nikorose87 opened #137 "RuntimeError: Type 1 and 3 is not supported yet"
Hi there,

I am trying to use your package with python. It looks interesting. However, when I try to read the force platform data. It throws the following:

I assume there is an issue with this platform types but the question is when could you include these ones?

By the way, I am using type 3 platforms.

Thank you.

[2020-08-04 17:26] pariterre commented on #137
Hi @nikorose87
Yep, I do not support yet all the platform types, since I could not find examples to test the implementation for the reading (and preferred to return an error than bad results!). So if you are willing to share your C3D with me, I can have a look.

Please note, that I am currently half way through of a two weeks important exam related to my PhD and therefore I won't be able to have a

[2020-08-04 17:30] nikorose87 commented on #137
Thanks @pariterre

In fact, I am reusing data from the literature, here you can find data to make robust your libraries. I am sharing you the link with the specific data of my study, which is type 3.

[https://data.mendeley.com/datasets/b48n46bfry/1](https://data.mendeley.com/datasets/b48n46bfry/1)

I understand your situation, I can wait for that.
Thanks in advance.

[2020-08-08 02:49] nikorose87 opened #138 "ValueError: USED parameter is not an INT"
Hi again,

Sorry for interrupting,

In the python interface the error in the issue title is displayed, When I check the value type of the USED section of the FORCE_PLATFORM, It shows that is a byte.

![image](https://user-images.githubusercontent.com/14098755/89700859-d7fa8100-d8ff-11ea-8a35-8e90723e0f0f.png)

How can I solve this issue and continue with the force platform reading?

Thank you

[2020-08-08 18:14] pariterre commented on #138
Dear @nikorose87
Thanks for reporting the error. Your C3D file doesn't seem to be compliant to the C3D standard. Still, I think it makes sense to be able to read it no matter what ;)

This is a very quick fix, but I'd like to test it before calling it solved. Could you provide me with a C3D file that I could test? You can send it by mail (so I am the only one to get it). If it is a problem for you

[2020-08-08 18:15] pariterre commented on #138
This refers to the PR #139

[2020-08-08 23:38] pariterre commented on #138
I've had a look at your C3D and I made the fix.
However, there is the use of Type-1 force plate that ezc3d don't support yet.

I have another Issue for that, that was open last week, as I said to him, I am currently in the middle of a huge 3 weeks exam. If it is okay for you, these two issues will be my priority after the exam!

[2020-08-09 13:38] nikorose87 commented on #138
I think I'm the same person who asked for the type 3 platform :D

On Sat, Aug 8, 2020, 6:38 PM Pariterre <notifications@github.com> wrote:

[2020-08-09 14:40] pariterre commented on #138
Haha right! Didn't notice!
It seems that you are currently digging into exotic C3D files hahahaha!
That will make a nice improvement for ezc3d, sry that I can't be more reactive coding your needs :(

[2020-08-20 14:17] pariterre commented on #138
@nikorose87
Hi there! I was having a second look on my implementation of the type1 reading and somethings is odd. Currently the behavior ezc3d mimics the one from BTK. However, I started to doubt the BTK implementation. The Free moment, as returned by BTK is not 0-0-Tz, it has value on the first 2 axes.

It may correct, but I wanted to confirm that with visual confirmation (that is, plotting on ma

[2020-08-20 15:48] nikorose87 commented on #138
Hi @pariterre, thanks for making better this app. I am asking to the researcher why the C3D recognizes 4 force platforms. However, when I see the reactions, only one force platform is displaying the force.

Thus the answer may be affirmative, only one is working.

[2020-08-20 17:15] pariterre commented on #138
Thanks for you answer.
It turns out that both of your C3D has very specific problem to solve (https://github.com/opensim-org/opensim-core/issues/2860). I've asked OpenSim to discuss this.

Since, it will affect your results, if I were you, I would definitely follow what happens (in all cases, I'll keep you posted). The main issue with the Type-1 file is that it has its gravity Y-oriented which is

[2020-08-23 04:40] nikorose87 commented on #138
Thanks, I am following that discussion.

[2020-08-27 04:02] nikorose87 opened #143 "Wrong results for ID with Opensim and EZC3D"
Hi @pariterre, how are you?

I am writing to you with the aim of showing some results that ezc3d and Opensim have thrown.

I built Opensim with the last commit of ezc3d you did for the type-3 force platform. I am coding an algorithm to process many c3d files and get the Dynamic Joint Stiffness at different locations (moments and angles). Thus I am establishing a process from scaling to Inverse Dyn

[2020-08-27 12:16] MSimonlehner opened #144 "Label2 error"
Dear ezc3d Team,

we have a problem when writing a file.

In our c3d data there is a field c3d['parameters']['POINT']['LABELS2'] when writing, we get the error "'c3d['parameters']['POINT']['LABELS']' must have the same length as nPoints of the data."

c3d['parameters']['POINT']['LABELS'] contains 255 values and in c3d['parameters']['POINT']['LABELS2'] contains 12 values.

The shape of the data arr

[2020-08-30 17:59] pariterre commented on #143
Hello again!
Sorry for not coming up earlier (I am in vacation since last Sunday up to next Saturday). I have noticed this bug too after my last push. Unfortunately, the fix for this bug greatly affect Opensim reliability. So I must talk to them before moving forward. I asked for an appointment during the next days.
If they decide not to support Type1 and Type3 force platforms (which I must say ma

[2020-08-30 20:00] nikorose87 commented on #143
OMG, I will appreciate it if you can do this for me. In Latin America there are so many of these platforms, maybe due to they are very old. However, type 3 should be more common and It may be supported. Actually, this data comes from Europe.

Enjoy your vacations, do not worry too much!
Regards.

PD: I also wrote to Opensim, I will let you know If they answer first.

[2020-08-31 15:53] blikpils commented on #111
Hey, i am wondering if there is any update to this.

A pip instal would be greatly helpful, even if the version is slightly out of date!

[2020-08-31 16:49] melund commented on #111
Creating wheels of packages with C extensions is really a pain. It is just hard. And even they we mange to make one, it is not guaranteed to work because pip doesn't control the environment and libraries which the user has otherwise installed.

This is what conda was created to solve. So if you use any scientific python libraries I highly recommend using conda.

Maybe we could use [conda press](ht

[2020-09-01 14:15] blikpils opened #145 "DEC data different after write"
Hey,

I am struggling getting my (DEC) data to parse. opening is fine and i can see most header info.

The problem is that even without any changes the output data is different:
![uC3Uc5X](https://user-images.githubusercontent.com/8456656/91861080-68e02600-ec3a-11ea-9ac2-48f59749c5c6.png)
No points are displayed in any of the software packages tested (convert3d and motion builder)

I tried stitchi

[2020-09-01 14:46] pariterre commented on #145
Oh.. That makes sense.. I'll fix this in the upcomming days!

[2020-09-03 09:55] pariterre commented on #144
Wow, i actually did not see this! Sorry about that!
Can you send me the not working file, I'll will patch this I the upcoming days :)

[2020-09-03 10:52] MSimonlehner commented on #144
No Problem :)

Thanks for the reply!
I have attached a not working file.

I'm using Python 3.6 with the code:

import ezc3d
c = ezc3d.c3d(pathtofile)
c.write(pathtofile)

The return is: " ValueError: 'c3d['parameters']['POINT']['LABELS']' must have the same length as nPoints of the data."

[Dynamic10.zip](https://github.com/pyomeca/ezc3d/files/5167959/Dynamic10.zip)

[2020-09-04 03:12] nikorose87 commented on #143
I know why the results are wrong, they are presented due to the axis in the C3D file are not properly oriented, I need to swap the Y and Z axis to make it work. I could not do this with OpenSim. I am also swapping from your python wrapping app, however, I do not know which variables should I swap entirely.

So far, I rotated the data_points, and from data_platform I have rotated `Tz`, `moments`, `

[2020-09-06 20:59] nikorose87 commented on #143
Hi @pariterre
Finally, I made it work with the Type 3, all results seem good. Apparently, Opensim does not need to do anything else.

Those are the results for ID, ankle moments specifically.

![Figure 2020-08-26 224026 (10)](https://user-images.githubusercontent.com/14098755/92335128-afc68500-f059-11ea-8481-7e966cc79bc5.png)

Thanks for this. I will be attentive to the type 1, I will also need th

[2020-09-07 11:58] pariterre commented on #143
Great!
How did you fix it? Did you recreate a new c3d swapping Y and Z?

[2020-09-07 14:58] nikorose87 commented on #143
I did with ezc3d but did not work, maybe the parameters also need to be changed. I did with Opensim API at the end.

[2020-09-07 15:04] pariterre commented on #143
Ok! Good to know, I'll have a look at this :)

[2020-09-07 22:08] pariterre commented on #143
@nikorose87
I could not find ways to differentiate vertical axis being Y or Z. However, I fixed the values when rewriting from non-Intel-float format. Thanks for reporting!

[2020-09-07 22:08] #143 closed, assigned to nobody

[2020-09-07 22:09] pariterre commented on #145
PR #146 should fix this issue!
@blikpils Thanks for reporting :)

[2020-09-07 22:29] pariterre commented on #138
Hi @nikorose87 !
I will close this issue since the name doesn't relate much anymore with the current problem. I move this to #137

[2020-09-07 22:29] #138 closed, assigned to nobody

[2020-09-07 22:29] pariterre commented on #137
This issue was actually discussed in #138

[2020-09-07 22:33] #145 closed, assigned to nobody

[2020-09-08 16:38] blikpils commented on #145
Awesome thank you! Any indication when the build will be available in Anaconda?

[2020-09-08 17:09] pariterre commented on #145
@blikpils
I need to sort something (unrelated) with opensim. But if you need this PR soon, I can make a release as soon as today that includes this part :)

[2020-09-09 18:57] pariterre commented on #144
Dear @MSimonlehner
The PR #147 should fix this!

[2020-09-09 19:14] #144 closed, assigned to nobody

[2020-09-09 22:07] pariterre commented on #145
FYI, I just made a release!
Usually, it takes 1 or 2 hours to conda-forge to complete the update, so this should be available by tomorrow
Enjoy

[2020-09-10 17:57] blikpils commented on #145
Hey Thank you for the quick changes, i updated to 1.3.6 this morning and am wondering if there is a parm i should use to keep the data in the same format? Comparing it with the output from 1.3.5 it seems the same and still different from the source material

`import ezc3d
file1 = 'source_files\sourcefile_1.c3d'
f1 = ezc3d.c3d(file1)
f1.write("output.c3d")`

[2020-09-10 18:17] pariterre commented on #145
@blikpils
It definitely won't be the same since I write back all files into the format "Intel float". If you need to write them back into the same formatting (as the original), I would need to change things a bit more...

[2020-09-10 18:22] pariterre commented on #145
Small precision, the data though are the same ;)

[2020-09-14 13:11] blikpils commented on #145
So i was able to get all the points back after a rebuild of the C3d file, basically loading in the file and assigning the point parameters and some others to a new file.
No clue why the direct open and save removes the points.
If i find the issue i'll let you know!

Thanks again for the fix!

[2020-09-15 13:43] felixbgd opened #148 "Python crashing when reading .c3d of Intel processor"
Hi @pariterre ,

Thank you for this amazing job, I'm writing to you because ezc3d is doing a great job at opening one set of c3d files I have, but fails at opening a lot of others (taking 6 seconds and then Python crashes). I tried to upload 3 files for you to test the problem, in "ezc3d-testFiles", I'm quite new to GitHub so I hope I did it the right way.. They are called "read_working.c3d" or "r

[2020-09-15 15:13] pariterre commented on #148
Hi @felixbgd
I'll have a look! A priori, Intel should be the preferred way for a C3D using ezc3d.
I let you know as soon as I find something :)

[2020-09-15 15:20] felixbgd commented on #148
Thank you for your quick answer! I must add that I just found that the only file working (DEC format) had a fps of 25, instead of the other files (Intel format) which are 250. So it could also be this parameter which causes the problem !

(I installed ezc3d using Anaconda (not compiling myself))

[2020-09-16 09:24] aaa34169 opened #149 "non latin character fails"
Hello

i can t read data from filename including a non-latin character on Windows 10.
That should be transparent.

I got similar issue with my own version of Btk compiled in python 3.7.
that work on Linux, not windows !

I am struggling to fix this issue and think that come from a windows settings.

i will be glad you help me

cheers

Fabien

[2020-09-17 06:51] AnkurAgrawal opened #150 "TypeError: 'c3d' object is not subscriptable"
Hi @pariterre,

I compiled the library with **python** bindings using python v3.8. While trying to use it though, I am getting an error:

[code]

Error:
[code]

I compiled and tried it on both macOS (statically linked) and Linux (dynamically linked) platforms and received the same error. I am attaching the compiled libraries for macOS in case it's helpful. [ezc3d.zip](https://github.com/pyomeca/ez

[2020-09-17 14:49] pariterre commented on #150
Hi @AnkurAgrawal

Thanks for trying ezc3d :)
Based on the zip file you provided and the command line you showed, it seems that you did not `make install` the library. It seems that you therefore missed one important Python file (__init__.py)
Could you have a try using make install ?

[2020-09-18 04:04] AnkurAgrawal commented on #150
Thanks for your reply @pariterre. You're correct, I didn't do `make install`. As I understand it, `make install` just copies the library files to a target location. So, instead of doing that, I copied the files manually from "ezc3d/build/binding/python3" to a local folder of a project. I want to keep the library local to the project so that I can move the project to a different machine (with the s

[2020-09-18 05:15] AnkurAgrawal opened #151 "Error in compiling static library on Ubuntu 20.04"
Hi @pariterre,
I'm trying to compile a statically linked library for Ubuntu 20.04 platform. I can successfully compile a shared library but not static. I'm getting the following error while running `make`:

[code]

I'm following the same steps that I followed on macOS to successfully compile the static library:

[code]

Do I need to set any additional `cmake` variables on Ubuntu? It seems like the

[2020-09-18 11:20] pariterre commented on #151
Hi there!
I am glad it now works :)
I have never compiled it statically on Linux before. It seems that the -fPIC compilation option is not there. I will add this during the day. I always make sense to have this option anyway :)

[2020-09-18 12:31] #150 closed, assigned to nobody

[2020-09-18 16:31] pariterre commented on #151
#152 Should solve the issue :)
Thanks again!

[2020-09-18 16:31] #151 closed, assigned to nobody

[2020-09-19 17:30] pariterre commented on #148
Dear @felixbgd
I am currently trying to fix the bug. However, I cannot reproduce the bug. The files you provided actually work on my computer. I have recently changed few things in regard with DEC format, so it is not impossible that the current version has already its bug fixed! Could you have a try with the 1.3.6 version? I it still does not work, it means it is OS dependent, I will need the OS

[2020-09-19 17:34] pariterre commented on #149
Dear @aaa34169 / Fabien
Is that possible to provide me with a file example that crashes? If not, maybe just to tell me in which elements the non-latin characters are stored (for instance, point or analog names) and if you are aware if they were stored as ASCII or UTF-8 characters

Thanks for reporting the bug!

[2020-09-20 13:09] aaa34169 commented on #149
dear pariterre,
You can test by yourself.
Just change the filename of one of your c3d by including an accent : like "monC3dAccentué.c3d"
then try to read it again

regards

Fabien

[2020-09-20 14:40] pariterre commented on #149
Hi again,
I've had a look a this but it seems to be an unfixable problem. The reason is that it entirely depends on the format file (UTF8 or ANSI) of the original file that calls ezc3d*. Since I have no way to know what is the format of this particular file (which is basically up to the user to define), I cannot properly convert the filename string to UTF16 which is required by Windows.

For insta

[2020-10-01 15:28] felixbgd commented on #148
Dear @pariterre , awesome news, I actually have a new computer on which I re-uploaded the latest version of ezc3d and all the files I shared work !

I think the most probable thing is that my new computer has more RAM, or it is that the problem was OS dependent, I'm now working on a Mac OS 10.15.5 :) Anyway, that's awesome, I found a library that enable me to work on my whole dataset, thank you so

[2020-10-01 16:50] pariterre commented on #148
Good!
Happy this works :)
Bonne journée de Montréal!

[2020-10-01 16:50] #148 closed, assigned to nobody

[2020-10-14 07:35] RDCH106 opened #161 "Add integration to 📦 VCPKG"
Add port for [VCPKG](https://github.com/microsoft/vcpkg) package management tool.

Current PR waiting for integration: https://github.com/microsoft/vcpkg/pull/14016

⚠️ If PR is accepted, the README must be updated

[2020-10-22 10:31] RDCH106 commented on #161
ezc3d was included in VCPKG: https://github.com/microsoft/vcpkg/pull/14016#pullrequestreview-511374568

🎉🎉🎉

And it will be available for the next release.

[2020-10-22 10:32] RDCH106 commented on #161
⚠️⏳ Keep open this issue until the usage of the ezc3d library with VCPKG will be documented in README

[2020-10-22 11:04] clemensneu98 opened #162 "Ezc3d Parameter Group - Interference with Vicon Nexus"
I have an issue regarding using ezc3d in combination with Vicon Nexus 2.10.2. When i change Labels via Python, a new subject appears on the user interface where all the parameters are stored to instead of the old subject. I assume this could be due to the fact that ezc3d changes the structure of the group parameters inside the c3d-file and Vicon Nexus may open and store parameters of the group "PO

[2020-10-25 13:54] SpaceIm opened #163 "Fix static build on Windows"
This block is wrong in https://github.com/pyomeca/ezc3d/blob/dev/include/ezc3dConfig.h.in:

[code]

If static lib, `EZC3D_API` should be empty at build and consume time on Windows.

Moreover, if shared and not Windows, you could hide all symbols (`CXX_VISIBILITY_PRESET hidden` and `VISIBILITY_INLINES_HIDDEN ON` for `ezc3d` target in `CMakeLists.txt`) and define `EZC3D_API` as `__attribute__ ((visi

[2020-10-25 17:36] #163 closed, assigned to nobody

[2020-10-26 17:18] SpaceIm opened #165 ""Namespaced" public headers files"
public headers names are very common (Point.h, Frame.h, Parameter.h etc).
To properly live in a project with others dependencies, and avoid clashes, I would advice to add an intermediate folder (`ezc3d` for example ;) ), and update build scripts (and some `#include` because some of them take absolute path).

Obviously, it would be a breaking change in ezc3d interface...

[2020-10-26 17:47] pariterre commented on #165
Hi @SpaceIm !
I've read the linked issue, but I am not sure what is better for you guys. Do you mean that the files should be included #include "ezc3d/SomeFile.h"? If so, I think it definitely makes sense and I will make the changes soon!

[2020-10-26 17:54] madebr commented on #165
Hey @pariterre
At these lines:
https://github.com/pyomeca/ezc3d/blob/7d40969ac2ee08ec4092504fc937d5f49e40e745/CMakeLists.txt#L100-L102
You set the include directories of the installed target to `include/ezc3d`.
https://github.com/pyomeca/ezc3d/blob/7d40969ac2ee08ec4092504fc937d5f49e40e745/CMakeLists.txt#L84

This means that including a subheader using `#include <ezc3d/Point.h>` is not possible.
I

[2020-10-26 17:56] pariterre commented on #165
Considering that names are quite generic would not you suggest also to remove the first line? `$<INSTALL_INTERFACE:${${PROJECT_NAME}_INCLUDE_FOLDER}>`

[2020-10-26 18:00] madebr commented on #165
@pariterre
That would change the interface to your users.
Run the following [github search query](https://github.com/search?l=C%2B%2B&q=include+ezc3d&type=Code)
It shows that most of your users include the headers using a plain `#include "ezc3d.h"`.
Removing `$<INSTALL_INTERFACE:${${PROJECT_NAME}_INCLUDE_FOLDER}>` would break this.

It's easy to fix, but annoying.

[2020-10-26 21:36] pariterre commented on #165
@madebr
I tried with `$<INSTALL_INTERFACE:${${PROJECT_NAME}_INCLUDE_FOLDER}>/..` so it adjust to whatever the folder is.
Does this PR #166  makes sense for you guys?

[2020-10-26 21:43] pariterre commented on #162
Hi @clemensneu98
Sorry I completely missed this issue...
Ezc3d is not supposed to change the core of a c3d... That said, it is not impossible that Vicon makes some assumptions in regard of their way of implementing a c3d. Could you send me a small example of a script (and maybe a file if possible) that generates this issue :)

[2020-10-26 21:45] pariterre commented on #161
Hello!
Sorry, for some reasons I completely missed this! What exactly is VCPKG? That is awesome work you did! Thanks for contributing :)

[2020-10-26 21:55] madebr commented on #165
It does the trick to me.

[2020-10-26 22:02] pariterre commented on #165
I am waiting for Travis to complete (actually start.. Don't know why it is so long lately...) and then I merge!

[2020-10-26 22:42] pariterre commented on #165
It is merge, hopefully this works all fine!

[2020-10-27 11:44] RDCH106 commented on #161
[VCPKG](https://docs.microsoft.com/en-US/cpp/build/vcpkg) is a package manager powered by Microsoft for C++ libraries. It will improve the usability and distribution of the ezc3d library. ezc3d is prepared by vpkg using the release tags of this repository.

I will generate the specific documentation in the README in a PR when the next release of [vcpkg](https://github.com/microsoft/vcpkg) is ready

[2020-10-28 16:50] SpaceIm commented on #165
Yes it should work, but it doesn't solve potential clashes with headers from other libraries since `${${PROJECT_NAME}_INCLUDE_FOLDER}` is still added to include dirs.

[2020-10-28 17:45] pariterre commented on #165
Indeed
I feel that since I am the main programmer on most of the software that use ezc3d, I should actually fix this properly. That definitely would make sense.
In any case, thanks for your input!

[2020-11-04 07:36] clemensneu98 commented on #162
Hi @pariterre
To come back to the issue, here is an example of a c3d-File and the python commands used to change the labels. In the raw c3d file the SUBJECT-parameter-group is at first position. When running ezc3d parameter groups like POINT and ANALOG are suddenly above the SUBJECT group when analyzing the file with a viewer.
[c3d_LabelChange.zip](https://github.com/pyomeca/ezc3d/files/5486126/c3

[2020-11-17 14:35] pariterre commented on #162
Dear @clemensneu98
Thanks for the file, I was wondering if you could provide me with the original file also (and not only the one produced by ezc3d).
The reason is that the order in parameter is actually irrelevant. C3D standard does not prescribe a specific order, actually you can even fill a group of parameter before declaring that specific group. This is unnecessary complicated for the programm

[2020-11-19 10:28] clemensneu98 commented on #162
Hi @pariterre
The file I sent you was actually the original file, that does not cause problems with Nexus. In the picture attached you can see its internal structure. Maybe the error comes from the way Nexus is accessing and storing values. I believe that Nexus might scan for the SUBJECT group first and afterwards store the values of the POINT and ANALOG group to the previously found subject. In c

[2020-11-30 12:24] ANaaim opened #167 "Problem when exporting too many points"
Hi everyone,

I was working with c3d file with a large number of point stocked inside and when i tried to add (also a lot) of point to check if my inverse kinematic was working correctly I had a strange behavior. The point were effectively registred in the c3d (i was able to find their movement in mokka) however almost all the point (excepte the 10 first if i remember correctly) were not named cor

[2020-11-30 13:01] pariterre commented on #167
Dear Alex,
It is not expected, but definitely not surprising. The c3d format was not originally able to store more than 255 points. It can be push by some kind of hack, but is not standard. So I don't have proper tests yet to cover this!

 Sending me a c3d with a minimal failing example code that generates the problematic c3d will help me diagnose the problem for sure!

[2020-12-07 20:15] pariterre commented on #162
Hi @clemensneu98
Sorry again for my late response, I have been crazy busy lately.

I think you are right that Nexus expect a specific file structure (even though this is not necessary in a laid c3d file). That would ensure that users don't mix up c3d between different companies... So that may be something they even would not mind..

I'll try to add a flag for the write function so it can be done i

[2020-12-07 21:28] pariterre commented on #162
Dear @clemensneu98
I could remotely get access to a Nexus! I tried to replicate the error, but I am not sure what you mean. When I create new file from the one you provided, I actually get only one subject
![exemple](https://user-images.githubusercontent.com/17518525/101407619-223d4000-38a9-11eb-92ed-39671c375e2a.png)
Did you mean elsewhere? This is Nexus 2.8.1, maybe there is a difference since,

[2020-12-08 13:51] andyzhao1 opened #168 "Install ezc3d in Google CoLab"
Hi all,

Recently, I want to install ezc3d in Google CoLab using this command: conda install -c conda-forge ezc3d

This command can work well, but when I import ezc3d, it raised an ImportError:
ImportError: /usr/local/lib/python3.7/site-packages/ezc3d/_ezc3d.so: undefined symbol: _ZN5ezc3d3c3d5pointERKSt6vectorINSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEESaIS7_EE

Anyone can help me to sol

[2020-12-08 16:45] pariterre commented on #168
Hello @andyzhao1 !
Are you using hosted or local python?

[2020-12-08 16:54] pariterre commented on #168
Hello again!
I tried using a hosted environment. When installing conda (and ezc3d using conda), and then adding the install directory to the sys.path, it works just fine:
[code]
[code]
After running these two cells, this cell works as expected:
[code]

[2020-12-09 04:06] andyzhao1 commented on #168
It works, thank you for your help!

[2020-12-09 04:19] #168 closed, assigned to nobody

[2020-12-10 13:11] andyzhao1 opened #169 "install ezc3d in Google CoLab"
Hi again,

I asked a question about installing ezc3d in Google CoLab a couple of days ago, and I have got a solution which asked me to use the latest version of miniconda and set the sys.path. That solution works well.

However, because I have to use some packages which only be supported by python 3.7, I cannot use the latest version of miniconda. When I switch the conda to python 3.7, ezc3d raise

[2020-12-10 14:57] pariterre commented on #169
Hi there,

Miniconda is not attached to a specific version of Python. You can install python 3.7 in an environment from the newest miniconda.
To install both python 3.7 and ezc3d at the same time you can chain them, but installing them one after the other is just fine too.
[code]
See ya

[2020-12-10 16:19] andyzhao1 commented on #169
Yes, I do install the newest miniconda and select python 3.7 to install ezc3d and other packages. Packages can be installed well, however, only ezc3d raised Import error. When I used python 3.8, it works fine. (ezc3d works fine with Python 3.7 several months ago when I first used it, but it raised this error now. It just happened recently.)

So I guess if ezc3d is no longer supported by Python 3.7

[2020-12-10 17:11] pariterre commented on #169
In Google Colab, this code actually works for me...
[code]
[code]
[code]

[2020-12-11 01:37] andyzhao1 commented on #169
Sorry, I'm new for Google Colab, maybe I did something wrong. When I run your code, it works for me. But when I merged them into one cell, it raises import error...

Anyway, the problem is solved, thank you for your help and patient!

[2020-12-14 15:28] #169 closed, assigned to nobody

[2020-12-14 15:47] pariterre commented on #167
Dear @ANaaim
I am unable to reproduce the error you are experience. Are you using a previous version of ezc3d (currently 1.3.7). Because before this particular version, ezc3d was not able to properly handle more than 255 markers, but is now able. If you are using a previous version, it could explain why it is not working.

FYI, because of that, the script you sent me has a bug in it:
[code]
is not

[2020-12-14 17:12] ANaaim opened #170 "Non utf8 character in metadata does not work when rewriting on the c3d."
Here in the c3d in their is in one of the metadata (Subject.diagnostic) the following text : Hémiparésie which make impossible to rewrite directly the c3d.

Best regards,
[03489_05293_20201029-GBNNN-VDEF-07.zip](https://github.com/pyomeca/ezc3d/files/5690386/03489_05293_20201029-GBNNN-VDEF-07.zip)

[2020-12-14 21:01] pariterre commented on #167
Dear @ANaaim

[code]
Please note that after our discussion, I've decided to make things a bit easier when changing markers. Now, you can completely delete the "meta_points" and let ezc3d create a valid new one (this is of course destructive, but it is unlikely that you ever will need residuals or camera_masks).

Please note also that now, the error message for LABEL that does not match nb_points w

[2020-12-14 21:02] #167 closed, assigned to nobody

[2020-12-14 21:06] pariterre commented on #170
Dear @ANaaim
After investigating, it would be highly complicated to take care of this, mostly because it depends on the settings of the computer that created the c3d file, which is of course impossible to know.
I could create some specific snippet for your french, but that would not make much sense.

Since it is a python issue, I suggest that you make sure you are using only the ASCII from 0 to 12

[2020-12-14 21:06] #170 closed, assigned to nobody

[2020-12-14 21:27] pariterre commented on #165
For posterity, I was about to change that, but it makes this complicated with the global includer. I've decided that unless someone else complaints about that specific issue, I will leave it as so

Thanks again!

[2020-12-14 21:27] #165 closed, assigned to nobody

[2020-12-14 21:30] pariterre commented on #161
Dear @RDCH106
Should I keep this issue open?

[2020-12-14 21:33] pariterre commented on #149
This issue was discussed again as I gave another tried today. I arrived at the same conclusion (#170). The PR #171 provides a better error message when this happens in Python

[2020-12-14 21:33] #149 closed, assigned to nobody

[2020-12-14 21:39] pariterre commented on #137
Hello!
I forgot to tag the PR that was solving this! #141
Hope you knew that it was solved!

[2020-12-14 21:39] #137 closed, assigned to nobody

[2020-12-14 21:41] pariterre commented on #1
With after thought, this is data analyses and not reading, I will not go forward with this

[2020-12-14 21:41] #1 closed

[2020-12-14 21:44] aaa34169 commented on #170
If you re under windows 10,  there is a checkbox (enable beta utf8) in the regional settings you can enable .
That fixed issues with non latin character when i read  c3d or any file either with Btk or opensim4.1.

regards

Fabien

[2020-12-14 21:48] pariterre commented on #78
Hi @romainmartinez
I've had a longer thought about that and because of the way LABELS, DESCRIPTION are stored it makes this very complicated. Mostly because some software, don't fill these parameters properly. If I just have to read them, even though they are poorly written, it works, but if I have to skip some markers (because a list would have been provided), then I have to properly parse these

[2020-12-14 21:48] #78 closed, assigned to nobody

[2020-12-14 21:56] pariterre commented on #111
Hi everyone,
I was keeping this open so I would (maybe) someday find a way for this. So during the year I revisited this issue, but always arrived at the same conclusion, which was @melund described it perfectly : `This is what conda was created to solve. So if you use any scientific python libraries I highly recommend using conda.`

I will therefore stop trying this. I can safely say now, that th

[2020-12-14 21:56] #111 closed, assigned to nobody

[2020-12-15 00:05] #56 closed, assigned to nobody

[2020-12-15 15:27] pariterre commented on #162
Hi @clemensneu98 !
I tried your code with Nexus 2.10.x and did not have problem reading. I changed few things recently, maybe it fixed the problems!

Could you confirm that the version 1.3.8 still have issues?

[2020-12-21 11:38] clemensneu98 commented on #162
Hi @pariterre!
Thank you for still dealing with this issue! Sadly i also forgot to check for your responses lately. I am currently also working with Nexus 2.10.  The fact that it seems to work for you is indeed confusing. I will have a chance to try out the new version on Wednesday next week and will give your more information on the possible errors.

Thanks again for your time and support,
Clemen

[2021-01-04 08:21] RDCH106 commented on #161
Yes, I am going to generate the specific documentation use ezc3d using vcpkg. Keep the issue open and I will close it with the PR.

Thanks in advance

[2021-01-07 00:49] mrrezaie opened #174 "Problem with force data"
Hi,

Happy new year!

I was trying to learn how to use EZC3D and I faced this issue:
The C3D file I used has 3 force plates and I extract the values like this:

[code]
and this is the results:

![image](https://user-images.githubusercontent.com/38867713/103835650-1907e480-509c-11eb-8783-fca2ec73fec7.png)

While it must be like this (from MOKKA):

![image](https://user-images.githubusercontent.com/

[2021-01-07 02:29] pariterre commented on #174
Dear @kernalnet

It seems there that OFFSET is not applied when extracting the results from the force platform. Since it is the first time I face a platform with an OFFSET, I did not implemented it!

If you want a quick fix, I suggest that you find the OFFSET value in parameters or to use the first frame to subtract the data. In any case, if you can provide me with the C3D, I will properly fix thi

[2021-01-07 02:45] mrrezaie commented on #174
Thank you so much for your response.

You're right, I see the analog offset in the metadata.

I selected this C3D file just for test. It belongs to the GaitExtractToolbox171.
[example.zip](https://github.com/pyomeca/ezc3d/files/5779212/example.zip)

[2021-01-07 18:10] pariterre commented on #174
@mrrezaie
I there! I think I found the problem. For some reason, the OFFSET in you file is negative... so when I subtract it, it actually adds it... I added an absolute and it seems to solve the problem
![image](https://user-images.githubusercontent.com/17518525/103928253-93ab2100-50e9-11eb-90cd-edfe563e5710.png)

When I accept this PR #175 I'll make the 1.3.9 release so you can download from cond

[2021-01-07 18:56] #174 closed, assigned to nobody

[2021-01-13 12:13] AnthoSp opened #176 "add new event python"
Hello,
I'm sorry to bother you. I am a new user of EZC3D. Many thanks for your great work. Your library allows me not to be dependent on btk on matlab anymore. For a research project (code on python) I have to :
Adding events to a c3D that already has events.
Create events to a c3D that doesn't have events.

I have some difficulties to understand how to do this. Also I don't code in C++, I have so

[2021-01-15 02:01] Alan963852741 opened #177 "How install on Matlab?"
I try add path to Matlab, but it doesn't work

[2021-01-15 02:12] pariterre commented on #177
Hi @Alan963852741
Could you please expand a bit? What OS are you using? Which Matlab version are you using? How did you compile? How and where did you install your the compiled version? Which folder did you "addpath" to?

Please note that ezc3d is not a Matlab library, it is a C++ library with a Matlab binder, so it needs to be compiled beforehand.

[2021-01-16 11:59] Alan963852741 commented on #177
Thanks for your reply. The OS I used is Win10, and the version of Matlab is 2020b. I just download the code, of EZC3D and add the path of the code into Matlab. But it doesn't work when I use the command "ezc3dRead()".It comes to these problems.

“Function or variable'ezc3dRead' is not recognized."

So could you please tell me how to make it work? How to compile the code?
Thanks a lot.

[2021-01-16 12:00] Alan963852741 commented on #177
Thanks for your reply. The OS I used is Win10, and the version of Matlab is 2020b. I just download the code, of EZC3D and add the path of the code into Matlab. But it doesn't work when I use the command "ezc3dRead()".It comes to these problems.

“Function or variable'ezc3dRead' is not recognized."

So could you please tell me how to make it work? How to compile the code?
Thanks a lot.

[2021-01-18 15:16] pariterre commented on #177
Hi @Alan963852741
As stated before, ezc3d is a C++ based library. This means that the core code is not Matlab, but C++. C++ codes cannot be run as is, but must be compiled. I have made a video in the past how to graphically compile C++ code.
You will need to install CMake and Visual Studio to compile
https://www.youtube.com/watch?v=gWno_NXrITA&feature=youtu.be

[2021-01-18 15:35] pariterre commented on #176
Dear @AnthoSp,
Thanks for your question!

The easy way to add a new parameter in Python is to use the dedicated function, as demonstrated by the following snippet :
[code]
So you can replace `"NameOfGroup"`by `"EVENT"` and then fill all the required parameters.
Unfortunately, EVENT is not a required group (it is a suggested group) for C3D. This means that there is not any certainty in regard of wh

[2021-01-18 15:35] #176 closed, assigned to nobody

[2021-02-04 09:57] sh-hsz opened #179 "ezc3d makes an error in visual studio"

[2021-02-04 10:51] #179 closed, assigned to nobody

[2021-02-10 12:01] modenaxe commented on #177
Hi @pariterre,
I follow up here as part of the JOSS reviewing process. It looks like the CMake file has evolved since the opening of the issue and it the default installation directory for the MATLAB files is now `...../MATLAB/R2020a/toolbox`.
Few issues:
1. building INSTALL on Visual Studio required me to run it as administrator in order to copy the files. This is mentioned in the CMake file but

[2021-02-10 12:05] modenaxe opened #181 "[JOSS review] MATLAB examples are bugged"
All MATLAB examples have a misspell I think : `parameter` should be `parameters`, in order for work.

Take the first one:

[code]
only works as:
[code]

As part of the JOSS review, can you please fix the examples?

[2021-02-10 12:10] modenaxe opened #182 "[JOSS review] MATLAB bug when writing c3d"
The [write a c3d section](https://github.com/pyomeca/ezc3d#write-a-c3d-1) throws an error, as if the frame rate was not specified.
[code]
The error in the C++ code should be thrown is the frame rate is zero, but here it is defined. I have tried defining RATE explicitly as type double in MATLAB but that didn't help.

[2021-02-10 12:18] modenaxe opened #183 "[JOSS review] comments about the README.md"
Few comments about the documentation on the README.md

- [x] there is a misspell in 'developping' at some point
- [x] Could you add a Table of Content? It would be very helpful for navigating the content of the README. You can generate one automatically in seconds if you use the Code editor and a Markdown plugin, for example, or some online tools.
- [x] I would explicitly add the API documentation

[2021-02-10 12:22] modenaxe opened #184 "[JOSS review] MATLAB memory management and data format choices"
Just a question out of curiosity. BTK was managing the MATLAB memory in such a way that it required cleaning it with btk.DeleteAcquisition() at the end of the use (not compulsory but preventing crashes when batch processing large files).
Does ezc3d have the same issue or deals with it differently and the c3d contents are 100% manageable through MATLAB, e.g. the memory is cleaned using the `clear`

[2021-02-10 12:26] modenaxe opened #185 "[JOSS review] guidelines for contribution"
based on the JOSS review questions it seems that the README is missing clear indications on how to:
- [ ] Report issues or problems with the software
- [ ] Seek support

[2021-02-10 13:53] pariterre commented on #184
The way BTK did the memory management is actually interesting. They stored the data in one place and access it at will. However, it implies to dereference a pointer each time you want to access the data. Moreover, they did not provide a true Matlab interface (it is merely an accessor to internal function). It has the advantage to be as efficient as the C++ core.

Ezc3d one the other hand stick the

[2021-02-10 15:06] pariterre commented on #183
All done!
For the documentation, it is actually already done in the ReadMe. Since the binders are actually interfaces (and not simply binders...), it is proper Python or Matlab structures that are passed to the user. Therefore, from the user point of view, it is simplified to the point that what is described in the ReadMe, even though it seems light, is the actual whole story...

[2021-02-10 15:18] pariterre commented on #182
I am sorry, the ReadMe was completely out of date...
The section you refer to should have read:
[code]

The ReadMe is now up-to-date with the 1.3.x API

[2021-02-10 15:22] pariterre commented on #181
That is correct, as point in #182, the examples dates from a previous version and I forgot to update them, they actually should read:
[code]
All the examples in the ReadMe were updated, sorry about that

[2021-02-10 15:46] modenaxe commented on #181
thank you, now it works!

[2021-02-10 15:46] #181 closed, assigned to nobody

[2021-02-10 15:46] modenaxe commented on #182
this is also working, thank you.

[2021-02-10 15:46] #182 closed, assigned to nobody

[2021-02-10 15:51] modenaxe commented on #184
Thank you @pariterre this is very interesting. I take the occasion to ask about another unusual point I have noticed: points are read as (XYZ x N_POINTS x N_FRAMES) while analogs as (N_FRAMES x N_CHANNELS). Would have been more consistent to have N_FRAMES as first dimension also on for the Points, e.g. (N_FRAMES x N_POINTS x XYZ )?

[2021-02-10 16:00] pariterre commented on #185
I am not sure what these sections should be filled with. I changed the name of the section `troubleshoots` for `Support` which I expanded with a subsection `Report issues`.
I did not find on the JOSS website more explanation on how the two sections you mentioned should appear... If what I have done so far is not enough, could you provide me with the link that you refer?

Thanks for your review!

[2021-02-10 16:05] modenaxe commented on #185
Honestly the guidelines have changed since the last time I reviewed for JOSS. I think it's enough if you point to the Issue section with a link in case someone finds a bug

[2021-02-10 16:13] #161 closed, assigned to nobody

[2021-02-10 17:01] pariterre commented on #177
@modenaxe

It was actually already written as such, but in a highly confusing manner. I rewrote the `MATLAB_ezc3d_INSTALL_DIR` description and tried to emphasized that point

I'll have a look a this, this seems to be a proper bug... Since I do not use Windows nor Matlab and cannot travis test it, it probably have slipped... I have a look in the upcoming days!

I am not sure where I could add this

[2021-02-10 17:34] pariterre commented on #177
@modenaxe

It is now fixed in #186
Thanks for reporting!

[2021-02-10 17:39] #185 closed, assigned to nobody

[2021-02-10 17:49] pariterre commented on #184
Haha! This is my internal eternal crisis!
For me, n_frames should always be the 3rd dimension, no matter what. Unfortunately, the C langage stores the data in column, which makes it (ever so slightly) more efficient to have the column as the first dimension if your goal is to print individual points...

Still, I think it makes much more sense to have: TYPE x N_ELEMENT x N_FRAMES. So this is how I

[2021-02-11 08:22] modenaxe commented on #184
I asked because it always generated an awkward moment also for me when I have to process data! I fell better that I am not the only one! :D
For me it feel more natural to have frames as column, and if I remember well that's what BTK was doing - it's more convenient for MATLAB plotting for example (personal opinion).
In any case this was more of a personal curiosity, thank you for the explanation!

[2021-02-11 08:24] #184 closed, assigned to nobody

[2021-02-11 08:25] modenaxe commented on #183
I see. Good point!

[2021-02-11 08:25] #183 closed, assigned to nobody

[2021-02-11 08:35] modenaxe commented on #177
@pariterre thank you for the detailed reply. My suggestions were much "lighter" in the intentions. Simply, (based on totally biased personal experience) I see the majority of MATLAB users being also Windows users and not having a broad experience with CMake, so they might just get stuck or not notice that the reason why ezc3d doesn't work is that they did not build the INSTALL solution with admin

[2021-02-11 15:04] pariterre commented on #162
@clemensneu98
Did you have a change to test the new version? :)

[2021-03-21 21:32] pauk98 opened #191 "octave_install"
hi, i'm triying to install the ezc3d to use it in octave, but it's not working. (windows 10, 64bit, cmake 2.19.6, octave 5.2.0).
1.)i've downloaded the ezc3d code from this website
2.)in cmake: "where is the source code": ....C:.../ezc3d-dev;"where to build the binaries": C:/...ezc3d-dev/build-octave
3.)congigure:
first thing i tried: with "MinGW Makefiles -- use default native compilers" --> conf

[2021-03-21 21:41] pariterre commented on #191
Hi @pauk98

I have never compiled for octave... A priori, there is no inherent problem to do so.
In my opinion, you are correct to select the Binder_Matlab option. However, cmake will probably fail at configuration because it is designed to find the Matlab root folder when Binder_Matlab is ON. When it does not find it, it simply crashes (because of the REQUIRED option in the CMakeLists).
If you ha

[2021-03-21 22:18] pauk98 commented on #191
hi, thanks for your quick reply. to be honest, i do not really have expierence with cmake. i've tried to change the cmakelists a little, but i get this error and can't solve it, with my little knowledge:

CMake Error at binding/matlab/CMakeLists.txt:4 (find_package):
  By not providing "FindOctave.cmake" in CMAKE_MODULE_PATH this project has
  asked CMake to find a package configuration file provi

[2021-03-21 22:25] pariterre commented on #191
You should now see an "Octave_DIR" option in the CMake output (in the GUI), you have to set this variable to the root folder of Octave installation directory. Then, it should find the Libraries and Include_dir by itself.

[2021-03-21 23:01] pauk98 commented on #191
Yes, I can see the "Octave_Dir" option in Cmake. I've tried some folders, but the error is every time the same. Do you know, which one is the root folder (the name/path)?

[2021-03-21 23:02] pariterre commented on #191
I don't know which one is the right one. Make sure you have the SDK version installed (if you already compiled in the past, you have a SDK version).

I can have a look during the week if I have time!

[2021-03-21 23:34] pauk98 commented on #191
it's the first time for me to compile, so now i've downloaded SDK. it's still not working, do i have to put SDK to octave?

[2021-03-21 23:37] pariterre commented on #191
I honestly have no clue, I have never used octave before (let alone compiling). But I would enjoy having an octave version of ezc3d. I am pretty busy this week, but I'll try to find some time.. If I did not come back to you in a week, please ping me back, I may have forgotten!

[2021-03-22 13:39] pauk98 commented on #191
ok, thanks.

[2021-03-22 22:31] pariterre commented on #191
Hi @pauk98
I added a branch octave_support in my personal repository, which allows to compile for octave on Linux when octave was compiled from Linux. Could you have a try on Windows? I don't have much hope right now (I will try it myself soon, but who knows, maybe it works already!)

[2021-03-23 09:20] pauk98 commented on #191
Hi @pariterre , unfortunately it's not working. it says: configuration and generation done, but the value for 'Octave_Config_Executable' was not found and the 'octave_ezc3d_install_dir' only has the value '/toolbox'.
I manually set the 'config_execuatable' to 'C:\Program Files\Octave-6.2.0'. and tried some for the 'octave_ezc3d_install_dir', here i got this output from cmake:

Configuring done
CMa

[2021-03-23 10:21] pariterre commented on #191
Don't worry, that is what I was expecting
It should not be much complicated to fix :)
I'll give it a try today, I have a virtual box with Windows that I can use
I'll keep you posted!

[2021-03-23 19:45] pariterre commented on #191
Hi @pauk98 !
I think it should work now (from my branch) :)
If you can have a try, once you confirm, I will accept the PR #192  so Octave is officially supported.

[2021-03-23 21:19] pauk98 commented on #191
Hi @pariterre it's not working on my computer. configuration and generation is complete, after I manually set 'OCTAVE_ROOT_DIR' to 'C:/Program Files/Octave-6.2.0'. But this is my output when trying to install in 'cmd':

C:\Users\paulk\Desktop\ezc3d-octave_support\binding\octave>cd C:\Users\paulk\Desktop\ezc3d-octave_support\build-octave

C:\Users\paulk\Desktop\ezc3d-octave_support\build-octave>min

[2021-03-23 21:21] pauk98 commented on #191
At another try, that was the error:

C:\Users\paulk\Desktop\ezc3d-octave_support\build-octave>mingw32-make
[ 61%] Built target ezc3d
[ 64%] Building CXX object binding/octave/CMakeFiles/ezc3d_octave_Read.dir/ezc3dRead.cpp.obj
C:\Users\paulk\Desktop\ezc3d-octave_support\binding\octave\ezc3dRead.cpp:9:117: fatal error: ../../ezc3d/include/Data.h: No such file or directory
 #include "../../ezc3d/incl

[2021-03-23 22:06] pariterre commented on #191
Ok! it seems we almost got there!
Data.h has an unfortunate clash with data.h from Octave.

Could you try to replace this line by an absolute path (replace the "../../ezc3d" by the ezc3d root folder so this is an absolute path to the Data.h file). If this compiles, I think I'll simply change the Data.h file name haha

[2021-03-23 22:30] pauk98 commented on #191
[error.txt](https://github.com/pyomeca/ezc3d/files/6193082/error.txt)

ok, i changed the path to the absolute path (#include "C:\Users\paulk\Desktop\ezc3d-octave_support\ezc3d-octave_support\include\Data.h") in the file C:\Users\paulk\Desktop\ezc3d-octave_support\ezc3d-octave_support\binding\octave\ezc3dRead

error is in the txt file

[2021-03-23 22:34] pariterre commented on #191
Ok cool, so this works! What have you done to make the mex.h works?

Now, the only remaining problem is the linker. It seems that CMake did not find `liboctinterp.dll.a`. Can you locate this file in the installation folder and tell me where it is?

[2021-03-23 22:45] pauk98 commented on #191
file is located in 'C:\Program Files\Octave-6.2.0\mingw64\lib\octave\6.2.0'

I changed the path of 'octave_ezc3d_install_dir' to 'C:/Program Files/Octave-6.2.0/mingw64/share/octave/packages'

[2021-03-23 22:51] pariterre commented on #191
That is okay, It should not cause any problem

That seems what I expected... Can you add this line in the file `ezc3d/modules/FindOctave.cmake` at line 158:
`message(${OCTAVE_LIBRARIES_PATHS})`
And paste me the output of CMake when you configure.

I'll continue to interact tomorrow, I am hosting a live podcast in less than an hour and I need to focus on this now :)

[2021-03-23 23:07] pauk98 commented on #191
C:\Program Files\Octave-6.2.0\mingw64\lib\octave\6.2.0
Configuring done
Generating done

(first line in red)

[CMakeOutput.log](https://github.com/pyomeca/ezc3d/files/6193227/CMakeOutput.log)
here's also the complete output

ok :)

[2021-03-24 20:35] mrrezaie opened #193 "COP"
Hi Pariterre,

Hope you are well and Thank you for your efforts.

I'm curious to know whether the center of pressure data extracted from ezc3d is Point Of Wrench (like BTK) or it is calculated based on formulas for each specific force platform type.

Your help is much appreciated.

Regards,
Mohammadreza

[2021-03-24 22:56] pariterre commented on #191
Hi @pauk98
Just to keep you posted. I could reproduced your bug. It is because of mingw, for some reason it does not seem to link, the exact same CMake works just fine with Visual Studio. Since I have never compiled with mingw before, I'll have to look why the linking process fails. Apart from that, everything seems fine

[2021-03-24 23:37] pariterre commented on #191
What I suspect if that `libcruft.dll.a` is necessary when compiling using mingw, but is not when compiling using VS. The dll itself is probably loaded by octave when it runs. Unfortunately for some reason octave is not delivered with the cruft option on... I could not find an easy way to compile octave myself though... I may have another try next week.

My suggestion: if you compiled yourself octa

[2021-03-25 00:00] pariterre commented on #193
Hi @mrrezaie !
For most of the force plateform, the center of pressure is not stored in the c3d file. It is therefore computed. Conversely, when CoP is given, it is the Moment which is computed. In all case, the c3d format never provides redundant information (at least in the standardized form)
So depending on how the force platform is stored (TYPE of force platform), CoP may or may not be compute

[2021-03-25 06:40] mrrezaie commented on #193
Thanks for your response.

Have a great time.

[2021-03-25 06:40] #193 closed, assigned to nobody

[2021-03-25 11:30] mrrezaie opened #194 "Problem with COP calculations"
Hi Pariterre,

Sorry for opening another issue. There is a problem with COP calculations for this c3d file. The results are around zero.
I used the following scripts for plotting the COP of the 1st force plate:

c = c3d('gait.c3d', extract_forceplat_data=True)
cop = c["data"]["platform"][0]['center_of_pressure']

![image](https://user-images.githubusercontent.com/38867713/112466457-8a922d80-8d83-1

[2021-03-25 20:17] pauk98 commented on #191
hi @pariterre
I tried to use VS2019 community (my first time...), and it's not working :( sorry...

In cmake I use VS2019 as compiler (1x with default compilers; 1x with specified compilers from octave), set the Cmake_configuration_types (1x release; 1x debug). I set the ROOT value to the octave path and the PREFIX to the octave packages.

configuration and generation works, next, I open the Proje

[2021-03-25 20:23] pariterre commented on #191
It seems to be related to access limitation, as if you were required to have administrator rights to build-octave (and further) folder..
The variable that you are supposed to set are CMAKE_INSTALL_PREFIX to a folder that you have rights to write, and Octave_ezc3d_INSTALL_DIR (where you must have access too).
But it does not seems to be the problem here...

When you restarted the process, did you c

[2021-03-25 21:29] pauk98 commented on #191
I don't know whats wrong, now I've tried several times with different folders, where I had all rights.... I also completely removed the build folder.

[2021-03-25 23:06] pariterre commented on #191
Hi there!
Could you confirm that what you are doing resemble this: https://cloud.pariterre.net/index.php/s/nKLyf9PfK7cob4M

[2021-03-26 08:51] pauk98 commented on #191
Hi @pariterre, thanks to you, it's working now :)
What I was doing wasn't exactly the same, but now I tried it copletely equal and thats it. (I think maybe, I did some wrong steps in VS2019 bevore).
Thank you for helping me, and sorry for me beeing incompetent :)

[2021-03-26 10:48] pariterre commented on #191
Happy days!
Enjoy!

[2021-03-26 10:48] #191 closed, assigned to nobody

[2021-03-26 19:34] pariterre commented on #194
Hi @mrrezaie !

First you have to make sure you remove data where forces are too small (i.e., no forces on force platform). because it does not make sense to compute center of pressure where there is no pressure (this is why you get such values). Your BTK graphs ranges from 5.0 to 6.0 second, while the ezc3d one ranges from 0 to the end of the trial. You can set a threshold on force norm. For inst

[2021-03-26 20:15] mrrezaie commented on #194
Thanks @pariterre for the response.

You are right. I cropped the MOKKA data just for better observation. But at the time of each foot contact on each force plate, the COP data is absolute zero. I created a MOT file for OpenSim and the COPs stop over the lab origin. There was no such problem with other c3d files.

Anyway, It might not be an important issue. I was testing my script for c3d to OpenS

[2021-03-26 20:19] pariterre commented on #194
That is weird.. Using the file you provided me, I get the same values (when cropped using the snippet I gave you), I get the same results as the figure you provided..

[2021-03-27 12:59] #177 closed, assigned to nobody

[2021-03-27 12:59] pariterre commented on #194
@mrrezaie
Should I close this issue?

[2021-03-27 13:01] pariterre commented on #191
Hi @pauk98
Just so you know, the octave binder is now part of the main branch #192 :)
Thanks for push me on this!

[2021-03-27 13:07] mrrezaie commented on #194
Thanks for your time.

[2021-03-27 13:07] #194 closed, assigned to nobody

[2021-04-02 14:54] tvdbogert opened #195 "Matlab toolbox installation"
Thanks for the ezc3d project!  I can now load a 90-second C3D file into Matlab in less than 1 second.  With the Opensim C3D tools it took about 4 minutes.

I managed to build and install the Matlab MEX binaries using CMake and Visual Studio, and they work fine.

So far, I am assuming that all required DLL files are in the C:/Program FIles/MATLAB/.../toolbox/ezc3d folder.  If so, I can simply give

[2021-04-13 17:32] pariterre commented on #195
Dear @tvdbogert
Sorry for the late answer!
I am glad ezc3d suits your need :)

Assuming you did not change the `Matlab_ezc3d_INSTALL_DIR` during the CMake configuration, that is correct

Can this be fixed?

To my knowledge, there is unfortunately no easy way provided by Matlab to compile non-Matlab code. Ezc3d is primarily a C++ library with Python and Matlab bindings. Therefore, something like wh

[2021-04-13 18:24] tvdbogert commented on #195
That makes sense.  It was easy enough for me to turn on the Matlab bindings in CMake and build them.  This produced a Matlab toolbox folder, and I can confirm that I can give someone that folder and it worked correctly for them.  So we have this working fine now.

If you're interested in additional feedback, read on...

Unfortunately, this no longer seems to work in the version I built today.  The

[2021-04-13 19:16] pariterre commented on #195
Hi again!

9>-- Installing: /ezc3d_matlab/ezc3dRead.mexw64
9>-- Installing: /ezc3d_matlab/ezc3dWrite.lib
9>-- Installing: /ezc3d_matlab/ezc3dWrite.mexw64

This is weird, I may have broken something when I have done the Octave binder last week, I have a look in the moment! Everything is indeed supposed to install in the same folder...

This should however definitely works... I'll try to compile ezc

[2021-04-13 22:56] pariterre commented on #195
The problem

9>-- Installing: /ezc3d_matlab/ezc3dRead.mexw64
9>-- Installing: /ezc3d_matlab/ezc3dWrite.lib
9>-- Installing: /ezc3d_matlab/ezc3dWrite.mexw64

is now fixed, thanks to PR #198

Thanks for reporting :)

[2021-05-30 14:36] mrrezaie opened #201 "Python import ezc3d error"
Hi,

I was using ezc3d in Python without any problem. After appending OpenSim4.2/bin folder to my system environment path, this error appears:

---> 13     from . import _ezc3d
ImportError: DLL load failed: The specified procedure could not be found.

I see that there is a file named ezc3d.dll in that folder. After renaming this file, Python imports ezc3d properly.

Is there any workaround to fix

[2021-05-31 14:43] Kilidsch opened #202 "Special Member Functions"
**Problem:**

The `ezc3d::c3d`-class does use compiler generated special member functions (i.e. copy/move-constructor, copy/move-assignment). This results in double-free's when using these, since only the pointers, not the memory they're pointing to are copied/moved.

**Repoduction:**

[code]

**Resolution:**

There are 2 ways of dealing with this.
1. Explicitly delete these special member functio

[2021-06-01 13:02] pariterre commented on #202
Hi @Kilidsch !
Thanks for reporting. I changed the nature of the char* to vector<char> and removed the destructor. This seems to work just fine and does not seem to have any performance issue.
Therefore, unless I misinterpreted the issue, this is now solve in #203
Cheers!

[2021-06-01 13:06] pariterre commented on #201
Hi @mrrezaie
That is weird since the CMake is supposed to take this into account... That said, the fact that you are using OpenSim concurrently may create a more exotic installation pipeline.
I suspect that in Osim the expected file name is ezc3d.dll while it is _ezc3d.dll when installing ezc3d for yourself.

My guess is that you actually have found the workaround

[2021-06-01 13:44] Kilidsch commented on #202
Hi @pariterre
Thank you very much for the fast reply and solution!

This indeed solved my issue. Just one minor thing

The copy assignment/constructor seems to do shallow copies, since you're using `shared_ptr`, i.e. if you change the header of a c3d-object you change the header of the copy as well. This should probably be documented.

Depending on if you think such a shallow copy is useful or not

[2021-06-01 15:16] pariterre commented on #202
Hi @Kilidsch
I think the shared_ptr (that creates the shallow copy) actually makes sense for the speed of the code. I will definitely add your piece of code then!

Thanks for the tip :)

[2021-06-02 11:15] ErDelhaye opened #204 "adding "events" on a newc3d"
Hello everyone,

Thank you for the development of ezc3d ! That's great !

I have developped my own routines to process trajectories from c3d on python.
I would like to identify on signals some events and then write them in the c3d (and write a new one).

I found out how to add events_labels and events_time, but, when writing the c3d, events are empty.
Am I doing something wrong? I didn't see anyth

[2021-06-02 13:57] pariterre commented on #204
Hi @ErDelhaye
I have never worked so far with the events. So I am not sure if they even are implemented in ezc3d! That said, if you provide me with a c3d that has events in it, I could implemented them for the Python and Matlab interface :)

[2021-06-02 14:17] ErDelhaye commented on #204
Hi @pariterre , thanks for your (quick) answer.
Actually, they seem to be implemented in ezc3d. I mean, I can add new events in a c3d object :

newC3D['header']["events"]["size"] = len(events_labels)
newC3D['header']["events"]["events_time"] = tuple(events_time)
newC3D['header']["events"]["events_label"] = tuple(events_labels)

 The only problem is when I want to save the c3d, It doesn't save the

[2021-06-02 14:22] marnunez commented on #204
Hi! This is how I add events from a BTS MDX file to a c3d. It's not pretty, but might be of use. Tested it with Mokka:

[code]

[2021-06-02 14:25] ErDelhaye commented on #204
thank you !! :)

[2021-06-02 14:26] marnunez commented on #204
I haven't used this code in a while, but I think it works because I write straight into `_storage`.

[2021-06-02 14:28] marnunez commented on #204
The ICON_IDS I belive are a Mokka thing. The value determines if the triangle that marks the event goes face up or face down

[2021-06-02 15:22] pariterre commented on #202
This is now added in the doc #205
Thanks for reporting :)

[2021-06-02 15:22] #202 closed, assigned to nobody

[2021-06-02 15:30] pariterre commented on #204
Hi @marnunez
Long time no see, hope you are good!
[code]
This indeed probably works, but I should provide a better way to add events, since you are directly writing to internal variables! But as you said, it probably works just fine haha

@ErDelhaye
[code]
Adding something to the `header` won't do anything. This is completely discarded and recalculated when you write the new c3d file. That is to m

[2021-06-02 16:33] marnunez commented on #204
Hi @pariterre! I've been working in other projects, haven't been working with c3Ds in a long while. So much so that I think that hacky code I wrote is older than your rework of the python bindings. Haven't looked as to how specs treat events, might be just some special case parameters. So, like you say, maybe it would suffice with `add_parameter` and some documentation.

[2021-06-03 07:35] ErDelhaye commented on #204
Hi Guys, thanks for your answers !

I had been confused by the c3d.org documentation, talking about headers !
If I just have to use the "addParameters" function, then I should handle it ! :)
Thanks for your implications, I really appreciated !
Erwan

[2021-06-03 15:13] pariterre commented on #204
I added an add_event method to c3d so it is easier to add in #207 !
Enjoy!

[2021-06-03 15:13] #204 closed, assigned to nobody

[2021-06-03 19:57] mrrezaie commented on #201
Thanks for your reply.

[2021-06-03 19:57] #201 closed, assigned to nobody

[2021-06-07 00:47] n2d7 opened #208 "Converting to a Dataframe in Python"
Hi,
How can I convert the c3d data to a dataframe in python?
Ideally, I want it to have this format for headers

`time, MARKER_1_X, MARKER_1_Y, MARKER_2_Z, ..., MARKER_N_Z`

after the line `c = c3d(input_file)` I'm not sure how to extract the marker names and location data from the object. Appreciate any help, thanks!

[2021-06-07 05:39] pariterre commented on #208
Hi @n2d7
The Pyomeca (https://github.com/pyomeca/pyomeca) toolbox uses ezc3d as c3d backend reader and stores the data into a pandas data frame (actually an xarray).
I therefore suggest the use of this library. That said, I am not familiar myself with pandas/xarray data storage.

I you just want the names of the markers and the 3d trajectories, as shown in the readme, you can do:
[code]
Cheers

[2021-06-15 00:42] sineadkearney opened #209 "Could you give an example of setting timecode in Python?"
Hi,

I can't get the starting timecode to work in Vicon shogun. As an example, I manually export the c3d data from Vicon, which has a particular timecode. Then I python I have:

[code]

I then load this new c3d file into Vicon and the starting timecode is always 0.

Thanks,
Sinead

[2021-06-15 07:18] pariterre commented on #209
Hi  @sineadkearney
This actually look like a bug in my code and not in yours. Is that possible to send me one c3d file before and after the conversion? So I could have a deeper look of what changed.
You can drop it here, or to me personally at pariterre@hotmail.com

Thanks!

[2021-06-28 09:05] pariterre commented on #209
Hi @sineadkearney
Sorry for my late response!
I think I've found the bug... What happens is if the ANALOG:SCALE is empty, if automatically fills it with the right size with the value in the header, which is the expected behavior in a C3D (things should not be stored in the header, but in the parameters). But it seems that Shogun expect SCALE not to be defined if empty, even though they define some

[2021-06-28 16:01] sineadkearney commented on #209
Thanks for working on this issue. I use conda to install the library, so if you could make a release with the new change, that would be really helpful.

[2021-07-01 00:59] miraliahmadli opened #211 "How to install using Compiling method?"
I am trying to install it using compiling method, but the README file looks very ambiguous. Can you please provide tutorial on how to install it with CMAKE?

I did not understand how to set the CMAKE variables and which commands to run in order to compile. I want to use Python3 binding.

Is it possible to provide some simple guidance on how to do it?

[2021-07-01 05:43] pariterre commented on #211
Dear @miraliahmadli
I already have made a video for showing how to compile here: https://www.youtube.com/watch?v=gWno_NXrITA&list=PLGv2qjI0aixmAyd2dEIyj-KAsIphi1G_S&index=1&t=75s
However, it is on Windows using the CMake-Gui, which will be drastically different for other platforms.
I cannot help you much right now as you did not provide which platform you are using.

That said, if your goal is onl

[2021-07-01 05:44] pariterre commented on #209
@sineadkearney
Just so you know, I released a new version right after your last comment :)
You can have a try!

[2021-07-02 01:20] miraliahmadli commented on #211
Thanks for reply @pariterre

I am trying to install it on macOS Big Sur. I don't want to use conda or miniconda, so I was looking for a way to install from source. Looks like pip installation is not possible, so is there any way to install on macOS without conda or miniconda?

[2021-07-02 17:24] sineadkearney commented on #209
Could you give me the steps on how to get the latest version of ezc3d? I was having issues with updating in my environment so I created a new one and did the following:

[code]
this gives me 1.4.3 but I think it should be 1.4.5 (and the timecode is still at 0 when I import into Shogun)

[2021-07-02 18:06] pariterre commented on #209
Oh! I forgot to change the version tag inside ezc3d!
If you type :
conda list
You should see that your version is indeed 1.4.5

Sorry about that!

[2021-07-02 18:07] pariterre commented on #209
Ok I'll have another look then. I keep you posted

[2021-07-15 07:33] pariterre commented on #211
Hi @miraliahmadli
Sorry, I haven't seen your answer..
What do you mean by installing? I you mean precompiled binaries, the only available are from conda. That said, you probably don't have to install anaconda, You can manually download them from the anaconda.org website (channel conda-forge)

[2021-07-29 12:27] dubergonzoni commented on #208
Hi @n2d7

from pyomeca import Markers

Reading the data
data_path = "path_to.c3d"
markers = Markers.from_c3d(data_path, prefix_delimiter=":")

Converting to pandas DataFrame
df = markers.meca.to_wide_dataframe()

[2021-08-08 17:50] Kilidsch opened #217 "Purpose of check in `c3d::frame`"
Hello,

I was looking into speeding up writing C3D-Files from Python and stumbled across the following code in `void ezc3d::c3d::frame( const ezc3d::DataNS::Frame &f, size_t idx)`

[code]

The frame `f` itself doesn't appear in this check and since `pointIdx` uses `pointNames` and with it indirectly `std::vector<std::string> labels = parameters().group("POINT").parameter("LABELS").valuesAsString()

[2021-08-09 11:43] pariterre commented on #217
Hi @Kilidsch !
Thanks for the suggestion! I am currently on vacation and doesn't have access to my computer. If I am not mistaken though, the check is not for the size, but for the name itself (for instance if labels[i] is a label that is not in point, it will raise an error). Of therefore would be required since I don't really have a way to make sure the user did not create an invalid labels stru

[2021-08-09 12:04] Kilidsch commented on #217
Hi @pariterre,

Please feel free to read this answere once your vacation is over! Have a nice vacation!

The thing about this check is that it (at least how I understand it) essentially checks whether `parameters().group("POINT").parameter("LABELS").valuesAsString() == parameters().group("POINT").parameter("LABELS").valuesAsString()`.

The check uses `pointIdx`:
[code]

And it uses `pointNames`:
[

[2021-08-10 13:30] pariterre commented on #217
Hi @Kilidsch !
I turned off my phone not longer after writing you and basically forgot about it for the remaining days haha, so no worry! But if I had actually received the mail, I probably would have had a look hahaha!

I think this check was added when I added the support for more than one LABEL (the new standard allows for LABEL2, LABEL3 and so on). Unfortunately, there is no easy way to make s

[2021-08-10 17:31] pariterre commented on #217
Hello again!

I implemented what I just proposed:
[code]

I've seen that you started to improve on the code speed, that is nice! I suggest you try that snippet to see if it actually improve speed compared to what was there before (it replaces the part you commented with "can I remove this"). If it works, at some point you can open a PR :)

[2021-08-10 17:57] Kilidsch commented on #217
Hello @pariterre

I just tried it and got the following result on writing `Cortex.c3d` to disk (only one run each):

|Method|Time in sec|
|--------|---------|
| old method before my other change | 5.2061723 |
| old method | 2.2334236 |
| your method | 0.4963968000000001 |
| no checking at all | 0.42829680000000003 |

If I am honest, I still don't quite understand why the test is necessary, but sin

[2021-08-10 19:09] pariterre commented on #217
This discussion relates to PR #218
Thanks for your help, that is a huge improvement in writing time! :)

[2021-08-10 19:09] #217 closed, assigned to nobody

[2021-08-14 04:54] #211 closed, assigned to nobody

[2021-08-17 04:39] mrrezaie opened #219 "Extra data extracted"
Hi @pariterre,

I have a c3d file exported from Vicon Nexus that there are many other information and analyses such as virtual markers, joints angle, force, moment and power stored in that. My problem is that when I use the following script, all these information come with marker data.

LABELS= c['parameters']['POINT']['LABELS']['value']
POINTS= c['data']['points']

Is there any way to extract jus

[2021-08-17 16:02] pariterre commented on #219
Hi @mrrezaie
As you are using it, `ezc3d` is merely a reader that gives you access to the binary format of a `c3d`. Unfortunately, there is no standardized way to write a c3d, except for very specific structures. That means that Vicon probably fit in extra data in the c3d that initially intended by the standard. It is therefore hard to propose a good solution for your problem since it depends on t

[2021-08-17 19:47] mrrezaie commented on #219
Thanks for your reply.

Regarding the length of labels, I found that there are two sets of labels:
`LABELS = c['parameters']['POINT']['LABELS']['value'] + c['parameters']['POINT']['LABELS2']['value']`
Now the length of LABELS and POINTS are identical.

I decided to remove the Irrelevant data in MOKKA, but a bit time consuming.

[2021-08-18 14:16] pariterre commented on #219
Yep that make sense! Sorry I did not notice that there were more than 255 LABELS (this is the maximum one LABEL can hold).

Since they are now the same length, I would feel confident simply slicing the data if I were you. Meaning that you can do :
[code]
to extract the marker part of the points in the data. That will save you a lot of time I think!

[2021-08-18 18:15] mrrezaie commented on #219
I appreciate your help.

[2021-08-18 18:15] #219 closed, assigned to nobody

[2021-09-01 15:14] marnunez opened #220 "Python bindings incompatibility with Opensim 4.3"
Hi @pariterre! I've a weird problem with ezc3d + opensim 4.3

In a clean conda env:

[code]
works fine. Yet including ezc3d...

[code]

I'm using Python 3.8 (required for OpenSIM 4.3), Windows 10 x64.

Any suggestions? This might be an OpenSIM issue though

[2021-09-01 15:30] pariterre commented on #220
@marnunez
There is another person who experienced problem recently when having both OpenSim and ezc3d installed (@mrrezaie, issue https://github.com/pyomeca/ezc3d/issues/201 and https://github.com/opensim-org/opensim-core/issues/3066). At the time, I thought the problem came from the fact that OpenSim version is slightly, so installing ezc3d via conda would download a different .dll, but override

[2021-09-01 17:34] marnunez commented on #220
OpenSIM GUI is x64, checked the dlls with Dependency Walker. Everything seems x64
![image](https://user-images.githubusercontent.com/1470552/131716719-3bd70857-04e1-4645-bb77-09b8e78c032e.png)

[2021-09-01 17:45] marnunez commented on #220
In OpenSIM GUI's continuous integration (https://github.com/opensim-org/opensim-gui/actions/runs/1184472064/workflow), in all dependencies (including ezc3D, which by default is on) and opensim-core, cmake is configured with the "-A x64" flag. So yeap, x64

[2021-09-01 17:52] marnunez commented on #220
In my case, renaming OpenSIM's ezc3d.dll doesn't seem to solve the problem.

[2021-09-01 18:20] pariterre commented on #220
Could you try the opposite when you install? That is installing ezc3d first and then opensim (in two different lines of code)?

[2021-09-01 18:49] marnunez commented on #220
Installing either ezc3d or OpenSIM first doesn't change anything. But I think it's a PATH thing:

If I force "C:\OpenSIM\bin" to the front of the PATH variable again, opensim works fine. However, when I try to import ezc3d:

[code]

[2021-09-01 18:52] marnunez commented on #220
That batch files does that: first python + ezc3d, then OpenSIM. Tried python + OpenSIM, then ezc3D, with the same result

[2021-09-01 19:19] marnunez commented on #220
I think that after activating the conda environment, everything within that environment loads first in the PATH. That's why ezc3d works and OpenSIM doesn't, regardless of the install order.

[2021-09-03 15:12] pariterre commented on #220
Sorry for the late answer, I did not receive an email saying you answered back!

I see... I am not sure there is an easy way to fix that.. changing the name of ezc3d.dll will change it in OpenSim as well, leading us nowhere... The only workaround I see right now is to modify the CMakeLists file of ezc3d when OpenSim clones it to build ezc3d to change the name of the project (and therefore ezc3d.dl

[2021-09-03 20:21] marnunez commented on #220
We could ask the OpenSIM devs to rename their library to something like osimEzc3d.dll, so that they can always make sure they use their own version of the library. I think they do the same with other dependencies.

As things are right now, one can't use both OpenSIM and ezc3d in the same jupyter notebook, which is a real shame

[2021-09-03 20:44] pariterre commented on #220
I am the maintainer for ezc3d in OpenSim, I can give a try, even though I am not sure how!
I keep you posted

[2021-09-15 07:55] Kilidsch opened #221 "Add copy method"
Hello 👋

I'd like to propose a `copy`-method, just like the one from NumPy, i.e. a method which allows making a deep copy of the data instead of a shallow one. This way we still have an efficient assignment, but a "real" copy is possible without re-reading the file (our current work-around).

Would that be possible?

[2021-09-15 16:28] pariterre commented on #221
Hi @Kilidsch

That's is an interesting idea! Do you mean directly in CPP code or from the Python binder? Do you have a sample code so I could more understand the use-case of a deep-copy? (For instance, is this just the arrays, or the actual swig pointer too that should be copied?)

Thanks!

[2021-09-17 07:51] Kilidsch commented on #221
Hi @pariterre

Our usecase was splitting one C3D file into multiple (+ a bit of processing on these files).

This is something currently done in Python, so I would appreciate if it would be accessable from there, but a copy method could probably be implemented easier in C++, wouldn't it?

So, a simple sample would be something like this (a bit simplified; hope I didn't break it):
[code]

Things li

[2021-09-23 15:40] pariterre commented on #221
Hi @Kilidsch !

The PR #222 added the capability to deepcopy the c3d Class in Python. That should greatly simplify your code!

Thanks for the suggestion :-)

[2021-09-23 18:11] pariterre commented on #220
I've had a look at the OpenSim CMakeLists.txt. There is a way to change the name of the library, but it really feels like a hack... The suggestion I have is to make sure that the library you are using is the same as the opensim one. Like this, there is no version clash anymore...

Soory about that..

[2021-09-23 18:11] #220 closed, assigned to nobody

[2021-09-23 18:46] Kilidsch commented on #221
Hi @pariterre

Thank you very much!
I'll try it out as soon as it is released in conda-forge.

One question about the test though:
Shouldn't these be **not** equal? Since you change the deepcopy, but not the original:
`np.testing.assert_almost_equal(c3d["data"]["points"][3, :, :], c3d_deepcopied["data"]["points"][3, :, :])`

(I have no experience with testing numpy stuff, excuse me if I just under

[2021-09-23 19:37] pariterre commented on #221
Hi again!

This 4th row is a row of 1 (to match the homogenous matrix size of 4x4. This is why they should be equal :)

[2021-09-23 19:41] Kilidsch commented on #221
I completely missed that working on the 4th row only :sweat_smile:

[2021-09-23 19:41] marnunez commented on #220
Hi @pariterre! So, to be clear, we should always be matching conda's ezc3d versions with the one built in OpenSIM, right?

[2021-09-23 19:48] marnunez commented on #220
That would mean that, as of today, we can only install OpenSIM 4.3 along ezc3d Relase 1.4.3

[2021-09-23 20:05] pariterre commented on #220
That is correct, I am currently preparing a PR to update OpenSim to the newest version, but obviously, it won't get to OS before the next official release, unless you are building OS for yourself...

[2021-09-23 20:07] pariterre commented on #221
Once you have tested, let me know if it works, we will close the issue afterward!

[2021-09-23 20:33] Kilidsch commented on #221
Works like a charm!

Thank you again. 😃

[2021-09-23 20:33] #221 closed, assigned to nobody

[2021-09-25 10:05] mrrezaie opened #223 "mamba as an alternative to conda"
Hi,

Recently, Anaconda has blocked the IP of my country and conda cannot download any packages from any channels. I found mambaforge as an alternative to official miniconda or anaconda:
https://github.com/conda-forge/miniforge#mambaforge

and EZC3D can be downloaded and installed by this:
`mamba install ezc3d`

Much easier and faster!!!

Regards,
Mohammadreza

[2021-09-25 10:05] #223 closed, assigned to nobody

[2021-09-25 11:18] pariterre commented on #223
Dear @mrrezaie

I am sorry for this unfair situation.. thanks for sharing this workaround. Hopefully, it can help someone else that is in a similar situation.

Kind regards

[2021-09-29 14:44] #208 closed, assigned to nobody

[2021-09-29 14:44] #195 closed, assigned to nobody

[2021-10-22 17:54] A-Tomezzoli opened #224 "ezc3d, Mokka and firsframe > 1"
It seems that ezc3d do not take into account in the same way "c3d.header.points.firstFrame" while writting (or reading) new "c3d.data.points" versus new "c3d.parameters.EVENT.TIMES.DATA".
When reading these new data using MOKKA, there is in a gap between events and curves plotted from the points.
In the same way, when events are created using MOKKA and then red using ezc3d, there is a gap between

[2021-11-04 16:01] Lance-Tin opened #225 "ezc3d for python can't open c3d file which is export from motion"
hello,

first, thank you for your sharing of this code! I meet some mistakes when i use the API of python to read the c3d file:

code:
[code]

--------------
Error: (from jupyter notebook)
C:\...Anaconda3\lib\site-packages\ezc3d\__init__.py in __init__(self, path, extract_forceplat_data)
    126             self.c3d_swig = ezc3d.c3d()
    127         else:
--> 128             self.c3d_swig = ezc3d

[2021-11-04 17:28] pariterre commented on #225
Hello!

Both files you provided read well here (with and without extract_force_plate=True)

I'd suggest that the path you provided to ezc3d (`path3 = 'D:/.../wang_dat/zhangjing_00_3.c3d'`) cannot exist (D: is a root, and ... won't be able to go back)

Good luck!

[2021-11-07 18:18] pauk98 opened #226 "octave: regardless of version?"
Hi,

With your help I was able to compile the ezc3d codes for octave. Since then, I use this tool, and it works great for me so far. (As far as I know, it's the only toolbox which supports octave to open c3d files...).

I'm using octave version 6.2.0 and ezc3d version 1.4.0.
If I send my octave skripts including the ezc3dRead function (with the compiled ezc3d folder) to another person who uses the

[2021-11-07 19:38] pariterre commented on #226
Dear @pauk98
I am glad you can enjoy ezc3d :)

There is unfortunately no satisfying solution for the problem you describe. Python solved this problem by automatically recompile every single package for every version, but making this easy to install (more specifically using Anaconda or pip). Hence, it is easier to maintain.  Octave (and Matlab), did not provide easy to compile solution. One solutio

[2021-11-09 21:24] pariterre commented on #224
Dear @A-Tomezzoli !
Thanks for reporting! There is still work to do with the events in ezc3d as I never used them myself.. I will have a look at this in the upcoming weeks/months. Unfortunately, as I am currently at the end of my PhD, I won't have much time in the short term, but definitely will have a look afterwards!

Thanks again :)

[2021-12-10 18:33] nghorbani opened #227 "ezc3d mocap writer and occluded points"
Hi,
I am facing an issue with occluded points in the c3d writer. When a marker is occluded I the point value to nan and residual to -1. However, when I open the file in MOKKA the occluded marker's label is not greyed out during occlusion.

Furthermore, I can preproduce the issue by opening a c3d file using the ezc3d reader and writing it directly back using the writer. The newly written c3d file s

[2021-12-13 21:23] pariterre commented on #227
Hi @nghorbani !
I assume that MOKKA reads a special token that carries the information that the markers is occluded... Could you provide me with a C3D that behaves as you want? I will try to find where I lose this information.
You can send it to pariterre@gmail.com  :)

Thanks for pointing out this problem!

[2021-12-14 11:39] nghorbani commented on #227
Thanks for your prompt reply!

I send it here for the sake of completeness:
[RightTurn01.zip]()

I use the following code to create the `mocap_rewrite.c3d` from `mocap.c3d`:
[code]
Thanks!

[2021-12-14 19:18] pariterre commented on #227
Hi!
I had a look at your c3d file and found that unlike the standard suggest missing markers are not coded as `-1` but as `-16512`. Mokka interpret this exact value as missing marker (instead of the standard -1). I have no clue why this value was chosen in the first place.

To improve compatibility to Mokka, I decided to align the exported C3D to this unusual choice. So #228 fix this issue as such

[2021-12-15 09:12] nghorbani commented on #227
Great! when is the release planned?
BW, I saw the same issue in Vicon Shogun as well.

[2021-12-15 14:26] pariterre commented on #227
Yes I noticed just after that I sent the message that Vicon had used the same weird convention... Whatever, once one is done, so the other :)
Just so you know though. I noticed that Qualisys does not set the values of the points when they are occluded. This means that the c3d contains part of the RAM as it was allocated. That actually threw me off guard thinking that they were actually storing inf

[2021-12-15 14:37] nghorbani commented on #227
Sounds scary! I am not using Qualisys on my side, so I am not sure how to avoid this in future. But thanks for pointing it out anyways.

[2021-12-16 10:25] nghorbani commented on #227
Dude, I am a huge fan of your release titles and comments! I actually just stop by to read them as a refresher! :D

[2021-12-16 11:46] nghorbani commented on #227
BTW, when release 1.4.7 (TheMagicNumber) will be available through anaconda?

[2021-12-16 12:28] pariterre commented on #227
Hahaha! Thanks 😂
I think you are the first to ever read the release notes 😁

I should be already there, but conda-forge has currently an issue.. I will ping you on the PR of conda-forge so you can follow the thread. I am waiting for an answer from the team. But if I were you, I would do compile it locally. If you don't know how, I did show it on YouTube on my channel (pariterre), so you are not de

[2021-12-16 17:04] pariterre commented on #227
The PR was accepted in conda-forge, but it always take 4 to 5 hours to be available in anaconda, so during the day!

[2022-01-10 14:42] curcify opened #229 "Does ezc3d can install in Mac?"
Dear sir
I used CMake to binder in mac.
I made a release folder.
Configure select Unix makefiles-Use default native compilers
And there were wrong message

Found Matlab: /Applications/MATLAB_R2021b.app/extern/include (found version "9.11") found components: MX_LIBRARY
CMake Error at modules/FindOctave.cmake:143 (message):
  Octave-config could not be found.  Please set the OCTAVE_CONFIG_EXECUTABLE

[2022-01-10 15:16] pariterre commented on #229
Hi there!
Do you actually need Octave? I am not sure why you have both Octave and Matlab... And it seems Octave is not installed on your computer... I suggest to simply uncheck the Octave binder

[2022-01-10 15:49] curcify commented on #229
Thanks for your suggestion.
But still have problem.
It's show
CMake Deprecation Warning at binding/CMakeLists.txt:9 (cmake_policy):
  The OLD behavior for policy CMP0086 will be removed from a future version
  of CMake.

  The cmake-policies(7) manual explains that the OLD behaviors of all
  policies are deprecated and that a policy should be set to OLD only under
  specific short-term circumstanc

[2022-01-10 17:09] pariterre commented on #229
Hi!
These are warnings, it should work. They are caused by googletest. It is not a problem and that should not prevent from compiling

[2022-01-10 17:42] curcify commented on #229
Thanks for your response.
But I did not see .mexmaci64 for MacOSX.
The matlab folder is empty.
And run ezc3dRead it show
Unrecognized function or variable 'ezc3dRead'.

[2022-01-10 17:44] pariterre commented on #229
Hello again :)

Did you actually compiled? CMake is just for preparing the compilation process. Once you `configured`, and `genarated`, you need to navigate (using command lines) to the build folder and type `make` or `make install`

[2022-01-10 17:57] curcify commented on #229
Hi
you need to navigate (using command lines) to the build folder and type make or make install.
This step was in Cmake or Matlab?
I did not know how to do this step?.
Thanks for yore patience.

[2022-01-10 18:32] pariterre commented on #229
This is in a terminal (not in CMake nor Matlab). It looks like that
![image](https://user-images.githubusercontent.com/17518525/148819801-c4f17e0f-9e73-48e0-9d5e-f0705949932a.png)

[2022-01-10 19:16] curcify commented on #229
Dear Pariterre
Could you tell more detail.
I was open the terminal.
<img width="661" alt="截圖 2022-01-11 上午3 11 23" src="https://user-images.githubusercontent.com/17661310/148824899-71bcd6c8-7b96-46c2-90aa-e12924ded99d.png">
I didn't have command lines in CMake.
I also see https://www.youtube.com/watch?v=gWno_NXrITA in windowns.
Would you have mac youtube link?
Or in terminal? Type what's  "make in

[2022-01-10 19:39] pariterre commented on #229
Hi there
You opened the right tool.

To navigate to your folder you need to use the command `cd PATH`(stands for change directory to PATH). In you case, it looks that the command should read:
`cd /Users/curcifywang/GoogleDrive/Matlab/c3d_read/ezc3d-dev/release`

After that, (assuming you previously hit configure and generate button in CMake), you have to type `make` to build ezc3d or `make install

[2022-01-10 19:44] pariterre commented on #229
Sorry I could not find any tutorial for Mac..

[2022-01-11 03:32] curcify commented on #229
Hi
(base) curcifywang@CurcifydeMacBook-Pro release % make install
Consolidate compiler generated dependencies of target ezc3d
[ 61%] Built target ezc3d
Consolidate compiler generated dependencies of target ezc3d_matlab_Read
[ 70%] Built target ezc3d_matlab_Read
Consolidate compiler generated dependencies of target ezc3d_matlab_Write
[ 80%] Built target ezc3d_matlab_Write
Consolidate compiler gener

[2022-01-11 03:36] pariterre commented on #229
Allright, this is the expected fail.

The reason is that you try to install the binaries in a folder you don't have access to:
`/Applications/Matlab_R2021.bin/toolbox` (The `Matlab_ezc3d_INSTALL_DIR` in cmake).
You must change this folder to a folder you have the write rights (then you click configure and generate again). After make again, it should work

[2022-01-11 03:37] pariterre commented on #229
That said, the binary should already exist in the build folder

[2022-01-11 09:08] curcify commented on #229
Dear Sir
Still have have problem.
-- Install configuration: "Release"
CMake Error at cmake_install.cmake:41 (file):
  file cannot create directory: /usr/local/lib/ezc3d.  Maybe need
  administrative privileges.

Is matlab_ezx3d_INSTALL_DIR question?
All the best

[2022-01-11 14:17] pariterre commented on #229
That one is the CMAKE_INSTALL_PREFIX, this is basically the same problem, you don't have write access to the folder you used as CMAKE_INSTALL_PREFIX. Change this one, and you should be good to go.

That said, you can also revert back the Matlab folder and use the command: `sudo make install` (notice the sudo) which will require your password (please note that when you type your password, nothing a

[2022-01-11 14:54] curcify commented on #229
Dear Paiterre
All can done will.
Thanks for your patience and strong support.
All the best.

[2022-01-11 14:58] pariterre commented on #229
Does this mean it works? :)
If so, you can close the issue!

Cheers

[2022-01-11 15:00] #229 closed, assigned to nobody

[2022-01-19 15:08] pariterre commented on #227
@nghorbani
I contacted Qualisys to tell them about the issue, but they need a sample, can I share your c3d file to them?

[2022-01-24 19:48] cdriehm opened #230 "Re-referencing function"
Hi There, i am trying to write a function to re-reference marker data to any chosen marker and am running into a strange issue where all markers before the chosen marker (earlier in the list of marker names) will be successfully re-referenced, but all after will retain their original trajectory. I must be missing something, possibly related to the way that the c3d data stucture works or how the c3

[2022-01-24 20:26] cdriehm commented on #230
Figured it out! The outData = data statement doesnt create a copy, but just points to the original, which is then overwritten. Sorry to bother, thanks anyway!

[2022-01-24 20:26] #230 closed, assigned to nobody

[2022-01-24 20:34] pariterre commented on #230
Good! :)
Glad you found! Yep no copy as it would be too slow!

[2022-01-31 08:59] ANaaim opened #231 "File extracted from theia can't be read"
Hi,

Some files extracted from Theia  can not be readed  with Theia :

[code]

  File "test_Theia.py", line 7, in <module>
    acq = ezc3d.c3d(trial_name)
  File "C:\.....\Miniconda3\envs\test_theia\lib\site-packages\ezc3d\__init__.py", line 128, in __init__
    self.c3d_swig = ezc3d.c3d(path)
  File "C:\......\Miniconda3\envs\test_theia\lib\site-packages\ezc3d\ezc3d.py", line 1686, in __init__

[2022-01-31 10:26] ANaaim commented on #231
Update : (b)

[2022-01-31 10:28] ANaaim commented on #231
It was an error from my code.... sorry for the non-needed issue.

It should have been the following :
[code]

[2022-01-31 10:28] #231 closed, assigned to nobody

[2022-03-07 04:20] PressGO opened #232 "Unable to compile mex files using cmake"
Hi,

Im having issues compiling the mex files. the ezc3d.dll file manage to compile but there were no mex files.
with regards to that here is the visual studio error:

Error	MSB3073	The command "setlocal
"C:\Program Files\CMake\bin\cmake.exe" -DBUILD_TYPE=Release -P cmake_install.cmake
if %errorlevel% neq 0 goto :cmEnd
:cmEnd
endlocal & call :cmErrorLevel %errorlevel% & goto :cmDone
:cmErrorLevel

[2022-03-07 13:12] pariterre commented on #232
Hi there!

That definitely looks like a right level issue. What does your cmake looks like? (Can you make a print screen of the options?)

[2022-03-15 08:40] #232 closed, assigned to nobody

[2022-03-21 10:32] NLantos opened #233 "ezc3d for Python failed to open a c3d file : Bad c3d formatting: unspecified iostream_category error"
Hello and thank you for sharing your code.

We try to open via ezc3d with the python interface a c3d file and it fails with the following error:

The file was generated from Optitrack file and is readable by the python module c3d with no execution error.

The file is rather big 1.53 Gb, how do you want to proceed so that I transfer it to you?

My configuration is a Macbook pro 2.6 GHz Intel Core i

[2022-03-21 15:17] pariterre commented on #233
Hi @NLantos !
I can see why it does not work. You can drop the file at this address! I have a look ASAP :)
https://cloud.pariterre.net/index.php/s/K9y6Nn9MimF72MQ

[2022-03-21 16:00] NLantos commented on #233
Hi @pariterre,
Thank you for your quick response.
I have downloaded the file "bloc3_orientation_ok.c3d" through the link you sent me.
Best Regards

[2022-03-24 13:48] annanas5 opened #234 "Matlab error: Unexpected Standard exception from MEX file (MA)"
Hi! I am trying to install on macos 12 to be able to open .c3d in matlab. I have compiled using cmake and added the path to matlab, so that it can find the function. I have installed the code in /Users/annakoek/Documents/MATLAB.

However, I get a matlab error saying:

Unexpected Standard exception from MEX file.
What() is:Could not open the c3d file: unspecified iostream_category error

Could you

[2022-03-24 13:48] annanas5 opened #235 "Matlab error: Unexpected Standard exception from MEX file (MacOS)"
Hi! I am trying to install on macos 12 to be able to open .c3d in matlab. I have compiled using cmake and added the path to matlab, so that it can find the function. I have installed the code in /Users/annakoek/Documents/MATLAB.

However, I get a matlab error saying:

Unexpected Standard exception from MEX file.
What() is:Could not open the c3d file: unspecified iostream_category error

Could you

[2022-03-24 13:55] #234 closed, assigned to nobody

[2022-03-24 14:07] annanas5 commented on #235
Nevermind, I've worked it out!

[2022-03-24 14:07] #235 closed, assigned to nobody

[2022-03-24 14:39] pariterre commented on #235
Hi @annanas5
Could you explain what was the problem and how you fixed it? If anyone has the same issue, they will know how to solve it :)

[2022-03-24 14:59] annanas5 commented on #235
I think something went wrong with my .c3d file when downloading. I downloaded it again and the issue was fixed. Could have been an internet stability problem causing problems with the download, because the first download was on a very unstable connection. I was more or less looking in the wrong place to solve the problem. My fellow student uses the same .c3d file so I never thought to look at whet

[2022-03-24 17:58] pariterre commented on #235
Allright! Make sense! Thanks :)

[2022-03-31 15:46] AurelienRenou opened #236 "Ezc3d couldn't open c3d file with path syntax including "..""
Hello,
There was a problem when we tried to open a c3d file that is in a another folder which is not in the current one.
We used /.. to go back, and chose the folder we wanted.
[code]
Here is the error message:

`Traceback (most recent call last):
  File "C:\Users\renou\Documents\Stage_immersion\bioptim_exo\tracking\test_load_experimental_data.py", line 16, in <module>
    data = LoadData(biorbd_m

[2022-03-31 18:00] pariterre commented on #236
Hi @AurelienRenou
It definitely can open file with ".." as in your solution you use it! Are you sure the path was actually the right one?

[2022-03-31 18:15] Ipuch commented on #236
I confirm the path was the right one.

[2022-03-31 18:35] pariterre commented on #236
I confirm it is not

[2022-03-31 18:35] #236 closed, assigned to nobody

[2022-03-31 18:36] pariterre commented on #236
import os
c3d_path = os.path.abspath(__file__)
print(c3d_path)

[2022-04-07 01:50] jxm122903 opened #237 "how to modify the data of the force platform"
Hello！
Thank you for sharing your code, I'm having some problems and looking for your help. You mentioned that EZC3D is an easy to use modifier for C3D format files. So how to modify the data of the force platform?
If I want to modify the position of the center of pressure and the magnitude of the force, how should I do it?
Thanks in advance.

[2022-04-07 13:43] pariterre commented on #237
Hi @jxm122903 !
Force platform is really a special case in a c3d. The data of the force platforms are stored in Analog. The force plateform module analyses the stored data so any user can use them directly, but it does not go backward (for instance, changing values in a force platform structure won't affect the underlying c3d). The reason for that is technical, but in a nut shell, it would be impo

[2022-04-10 12:04] jxm122903 commented on #237
Hi @pariterre !
Thank you for your quick response！
Best Regards

[2022-04-10 17:33] pariterre commented on #233
Hi @NLantos !
Sorry for taking so long, I actually forgot about this issue..

So I had a look at your file, and it is indeed corrupted. Not in the sense that the data are not there, but in the sense that the parameters are not stored properly.
There is an easy fix.. in the reading process of parameter, I do a sanity check over the pointer in the file with the predicted position of the next paramet

[2022-04-10 17:37] pariterre commented on #233
Sorry I miss clicked on resolved

[2022-04-11 12:50] #237 closed, assigned to nobody

[2022-04-22 08:45] NLantos commented on #233
Sorry for the delay and thank you for your answer.
Do you know when you will be able to integrate this change if of course it is safe to push it?
I have another c3d file that produced the same error. Would you like me to send it to you for testing?
Thank you in any case.

[2022-04-22 09:16] NLantos opened #238 "Error in writing a c3d file: TypeError: Wrong number or type of arguments for overloaded function 'c3d_point'."
Hello,

From a c3d file generated by Optitrack, I read the file with ezc3d.
Everything goes without problem. (Remark: the reading of the 3.06 GB file is a bit long, about 6 minutes. I don't know if this is normal).
Then I cut the data in 5 pieces and try to rewrite 5 smaller files.
I've already apply this on a number of c3d files and it works fine, but not on this one where you get the following e

[2022-04-22 18:37] teliason opened #239 "Support for Rotation Data Type"
I am trying to open a c3d file created by Theia and seem to be unable to access the Rotation data using ezc3d.  https://www.c-motion.com/v3dwiki/index.php?title=ROTATION_DATA_TYPE

I can see all of the rotation parameters that are stored to the file, but not the actual data itself.  Is this something that ezc3d can do or will it need to be customized to read rotation data?

An example c3d file wit

[2022-04-25 12:59] pariterre commented on #239
Dear @teliason
Ezc3d does not support yet ROTATION_DATA_TYPE as I was not aware yet of its existance!

This is something I can work on. I will not be able to work on this before next weekend though. Do you have any problem waiting up to that point?

[2022-04-25 13:08] pariterre commented on #238
Hi @NLantos
I would not be surprised that a file that huge takes time to read. Six minutes seem a bit long though. If you compiled by yourself, did you compile using Release or Debug level? That may explain that it is slower that usual.

For your problem, this is a very generic message generated by the wrapper SWIG. When you call a C function from Python interface by SWIG, it creates some entry po

[2022-04-25 13:09] pariterre commented on #233
Hi @NLantos !
I'll make a fix for another Issue next weekend, I'll have a deeper look to see if this check can actually be ignored safely. So I'd say next weekend I should push a fix :)

[2022-04-25 13:22] NLantos commented on #238
Thanks for your answer.
ezc3d was installed in its default version with miniconda.
I can send you the code if you wish via wetransfer or a similar service.

[2022-04-25 13:37] pariterre commented on #238
Yep that could help :)

[2022-04-25 13:41] teliason commented on #239
I'm happy to wait, I really appreciate your willingness to work on adding that feature so quickly.  I've only recently found Ezc3d but has been great to work with so far, you're providing a great service for the community.  Keep up the good work!

[2022-04-27 09:24] NLantos commented on #238
I uploaded the case to wetransfer last night via your hotmail address.
Let me know if you get it.

[2022-04-27 12:48] pariterre commented on #238
I received  the email! Thanks :)

[2022-04-30 17:35] pariterre commented on #233
I pushed the fix, it should be on conda in few hours :)

[2022-04-30 17:35] #233 closed, assigned to nobody

[2022-04-30 17:36] pariterre commented on #238
Dear @NLantos
I tried the snippet you sent me, but it did not raise any error. I suspect the error you had was related to #233 and is therefore already fixed!

[2022-05-01 23:19] pariterre commented on #239
Hi @teliason
That was much painful than expected, but the Rotation support is implemented (except for Matlab). I'll push it to conda soon :)

[2022-05-02 16:21] teliason commented on #239
Awesome! I really appreciate you tackling that so quickly.  I'll be looking for the update to conda and will download and get testing right away.

[2022-05-02 19:51] pariterre commented on #239
@teliason
Just so you know, I realized I forgot to manage the "DATA_START" parameter, which is very important for writing. So I'll fix that before pushing to conda, but it should not be too long :)

[2022-05-08 13:20] pariterre commented on #239
This is now fully merged and a release was made. Anaconda should be granted with the release 1.4.8 in a couple of hours
Thanks for the request :)

[2022-05-08 13:20] #239 closed, assigned to nobody

[2022-05-08 13:20] pariterre commented on #239
#242

[2022-05-09 03:12] teliason commented on #239
Awesome, thank you so much.  I grabbed the updated package and did some preliminary testing and everything appears to be working as expected.  I really appreciate you adding this functionality so quickly.

[2022-05-11 15:27] teliason opened #244 "Error Writing Rotation Data"
Thanks again for adding in support for rotation data so quickly.

I've been testing the latest release you pushed to conda and on the reading side everything seems to be working great.  However, I'm running into an issue when trying to write a new c3d file with rotation data included.  When I add any parameters to the 'ROTATION' group or if I add any data to 'rotations' I get the same issue.  It w

[2022-05-11 16:41] teliason commented on #244
Here is some sample code that reproduces the error.

[code]

[2022-05-11 16:58] pariterre commented on #244
I'll have a look :)

[2022-05-16 22:11] jobingthampi opened #245 "Regarding ezC3D installing in matlab"
Hi i recently download OpenSim version 4.3. So, I need to process C3D data in OpenSim and i was trying to install the binaries and this was the error message I got 'failed with initial frozen solve. Retrying with flexible solve' when I executed in miniconda. Since I am not able to install this, Iam not able to move forward. Please help me as early as possible.

[2022-05-17 13:47] pariterre commented on #244
The issue was that the mandatory USED parameter for the ROTATION group was not set automatically. Adding
`c3d.add_parameter('ROTATION','USED', [2])` in your code solved the problem. But this is not convenient!
So the PR #246 Fixed this, and also automatically sets the RATE to be equal to the one from the POINT.
Hopefully this is all good now!

[2022-05-17 14:43] #244 closed, assigned to nobody

[2022-05-17 14:48] pariterre commented on #245
Hi there!
For OpenSim (I am assuming you are building OpenSim for yourself, meaning that you don't use the prebuild OpenSim), you should not install ezc3d yourself, but you should use the superbuild and turn c3d file to ON. It will automatically download, compile and install ezc3d for you.
Please note, that building for yourself is very likely to result in incompatibilities with OpenSim as it runs

[2022-05-17 14:58] jobingthampi commented on #245
How can I turn that on?

[2022-05-17 15:05] pariterre commented on #245
It is when you build the `dependency` folder

[2022-05-17 15:09] jobingthampi commented on #245
Sir, I just started Opensim. So the professor gave me some C3D files and asked me to read/process in opensim. So when I went through opensim website they told it is easy to use EZC3D to read c3d files. So can you explain bit clearly how to proceed.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Pariterre ***@***.***>
Sent: Tuesday, May 17, 2022 11:05:43 AM

[2022-05-17 15:19] pariterre commented on #245
Hi again,
As I suggested, you are not supposed to do anything specifically related to ezc3d directly. Ezc3d is just the backend used by OpenSim to load c3d data. As a lay user, you don't even have to know that ezc3d is used at all (for instance BTK is another library that can be used, but the user cannot know which one is used by OpenSim). This is an information important for programmers of the co

[2022-05-17 15:43] teliason commented on #244
Awesome, thank you so much for fixing that.  I was hoping it was going to be something simple.

[2022-05-17 17:45] jobingthampi opened #247 "Not able to install octave binaries"
![ezc3d](https://user-images.githubusercontent.com/105680380/168877039-262802c4-316c-4394-a3c0-be0d400943ce.jpg)
I have attached the image and this is the issue I get when I try to install octave binaries.

[2022-05-17 17:56] pariterre commented on #247
Hi @jobingthampi
It seems that you are running Windows. Unfortunately, the octave binaries are not availble for windows on conda, therefore I cannot precompile the ezc3d octave binaries. You have to compile them for yourself (as shown in the video we discussed on, on Youtube)

[2022-05-17 18:11] jobingthampi commented on #247
In youtube i saw your video that you are compiling using cmake, but they will ask for the source code and I am not able to get that , in your ezc3d file I saw file named srs but here I don't have.
![image](https://user-images.githubusercontent.com/105680380/168881447-4e004bf8-8692-4111-a363-ac3183726ebc.png)

[2022-05-17 18:16] pariterre commented on #247
The source code is here (I mean here in github (https://github.com/pyomeca/ezc3d) ), that is the very purpose of GitHub to hold source code ;)

What you are looking at, are the header files of the C++ code that are delivered with the compiled version. That is useless to you unless you want to develop in C++, which I don't think you want.

As a piece of advice, you should basically forget about ana

[2022-05-17 19:48] jobingthampi commented on #247
![image](https://user-images.githubusercontent.com/105680380/168897602-99c86157-c63c-4e69-8998-1c54cc34da07.png)
why is this error happening?

[2022-05-17 20:08] pariterre commented on #247
The error message is actually in the lower part of the window behind (where it is written "Configuration incomplete", just scroll up). But since it failed so early, I suspect that you don't have a compiler installed on your computer. Here you are trying to bound your compilation to "Visual Studio 17 2022" but it has to be installed on the computer in the first place
https://visualstudio.microsoft.

[2022-05-18 04:03] jobingthampi commented on #247
![image](https://user-images.githubusercontent.com/105680380/168954814-5cc87188-2dc9-468b-8631-c3ab8bc58b19.png)
Hi i installed Visual studio 2022 still the error is happening!

[2022-05-18 04:07] jobingthampi commented on #247
![image](https://user-images.githubusercontent.com/105680380/168955184-9b44d660-ec4f-489f-a0a2-b58b9da92bc7.png)

I attached the image hereby

[2022-05-18 13:39] pariterre commented on #247
@jobingthampi
You have to show me the actual error so I can help. As I said, the error message is in the window where it is written "Configuration incomplete". I still have no clue what error you get...

[2022-05-18 15:03] jobingthampi commented on #247
Sir , like you told I downloaded the files from GitHub and then I installed Visual studio 2022 version and when I tried to compile it using Cake this is the error iam getting.

[2022-05-18 15:09] pariterre commented on #247
The error dialog you showed me IS NOT the actual error message. The error message is in the output of the window behind it (where it is written "Configuration incomplete, ..."). The error message part is now hidden because the box that contains it is so tiny. You can scroll up this output to make the message appear and do another screenshot (or copy-paste it) so I can know what the error actually

[2022-05-18 16:49] jobingthampi commented on #247
![image](https://user-images.githubusercontent.com/105680380/169097849-838005b9-5cce-4e0c-a710-8b28f68c45f9.png)
![image](https://user-images.githubusercontent.com/105680380/169097955-d3d5fefd-6bc3-4be6-82d2-2c0e0dfc2e0e.png)
I have attached the screenshots of it, but I have installed visual studio on my laptop.

[2022-05-18 16:51] pariterre commented on #247
https://stackoverflow.com/questions/51668676/cmake-visual-studio-15-2017-could-not-find-any-instance-of-visual-studio

[2022-05-18 17:27] pariterre commented on #247
Dear @jobingthampi
I figured that we would both save a lot of time if I would provide you with the compiled version already. So I installed everything (I do not use a Windows computer myself, not for programming at least). Please find attached a compiled version of ezc3d last version. Hopefully this will suit you!
[ezc3d.zip](https://github.com/pyomeca/ezc3d/files/8718651/ezc3d.zip)

[2022-05-18 18:07] jobingthampi commented on #247
![image](https://user-images.githubusercontent.com/105680380/169113339-8624cbcb-d03e-45ea-88d9-53edc133b841.png)
![image](https://user-images.githubusercontent.com/105680380/169113490-eb22ebbf-b87b-4235-ae8a-cfc4b2f53445.png)
i got your compiled version and did like you showed in the video, but still matlab is giving error

[2022-05-18 18:34] pariterre commented on #247
My bad, I gave you the octave binaries

Here are the Matlab ones!
[ezc3d_matlab.zip](https://github.com/pyomeca/ezc3d/files/8719294/ezc3d_matlab.zip)

[2022-05-18 19:29] jobingthampi commented on #247
Hi, I am getting the same error. So previously what I did was the .mex files(Octave binaries) were renamed by .mex64 and changed to Matlab format. Now, you send me the same Matlab version. so errors in both cases are the same.

[2022-05-18 19:32] pariterre commented on #247
Which version of Matlab are you using? I have compiled the file using Matlab_2022a. Obviously it can't be used with previous versions (that is precisely why I do not usually provide the binaries myself as it requires to build a bunch of them)

[2022-05-18 19:40] jobingthampi commented on #247
iam using Matlab R2022a

[2022-05-18 19:41] jobingthampi commented on #247
![image](https://user-images.githubusercontent.com/105680380/169142677-35d34665-7fb4-477c-8d0f-108c2eb69658.png)

[2022-05-18 19:42] pariterre commented on #247
Are you sure you actually used the `_matlab` version? I tried to download it from the link I gave you and it worked just fine... If you had to rename the file, you definitely used the wrong zip file..

[2022-05-18 19:43] jobingthampi commented on #247
yes you can see in the screenshot I posted

[2022-05-18 19:45] jobingthampi commented on #247
Renaming the file was done for file for the octave version. I haven't renamed the file (Matlab) which you recently sent me.

[2022-05-18 19:51] jobingthampi commented on #247
![image](https://user-images.githubusercontent.com/105680380/169144090-d3984cce-d593-4e51-bd3d-0bc82c089ebd.png)
This is the path

[2022-05-18 20:32] pariterre commented on #247
According to google it seems that this can be caused by invalid compatilibity between the compiler and the RunTime compiler of Windows. I'll see if I can compile with another version of Visual Studio

[2022-05-18 20:34] jobingthampi commented on #247
Ok

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Pariterre ***@***.***>
Sent: Wednesday, May 18, 2022 4:33:10 PM
To: pyomeca/ezc3d ***@***.***>
Cc: jobingthampi ***@***.***>; Mention ***@***.***>
Subject: Re: [pyomeca/ezc3d] Not able to install octave binaries (Issue #247)

According to google it seems that this can be caused by invalid compatilibity betwe

[2022-05-19 12:32] pariterre commented on #247
Third time the charm. This one was generated with Visual Studio 17 2022 and Matlab R2022a. You should be able to run it
[ezc3d_matlab.zip](https://github.com/pyomeca/ezc3d/files/8729054/ezc3d_matlab.zip)
!

[2022-05-26 19:11] teliason opened #249 "Data_Start Size wrong data type"
We found a small bug where the data_start parameter was being saved as 8 bit instead of 16 which was causing an issue when the data_start parameter needed to be more than 255 for the rotations.

Changing the RotationsDataStartSize datatype from BYTE to WORD in DataStartInfo.h fixed this issue for us but wanted to let you know so you can make the update on the repository.

Also small issue with the

[2022-05-30 13:09] pariterre commented on #249
Hi @teliason !
Thanks for these :) Do not hesitate to actually pull request your changes, so like that you are credited for the bug fix in the code

[2022-06-01 08:16] nghorbani commented on #227
sure

[2022-06-01 08:16] #227 closed, assigned to nobody

[2022-06-08 13:59] #249 closed, assigned to nobody

[2022-06-14 03:32] xubuild opened #251 "Apple M1 packages not found in conda"
Hi,
It failed when trying ``` conda install -c conda-forge ezc3d``` in Apple M1 platform.
There is no arm64 package in https://anaconda.org/conda-forge/ezc3d.
Could you please add support for it? Thanks!

[2022-06-14 13:09] pariterre commented on #251
Hi @xubuild
I would very much like, but I must admit I have no clue what I am supposed to do for that... I already added the binaries for osx, I genuinely thought it was the only required format for mac... Can you point me out one package that provides Apple M1? I could try to copy what they are doing..

[2022-06-18 02:34] felixchenier opened #252 "Can't open file with accented letters in path on Windows"
Salut Benjamin

On Windows 11, I systematically get an OSError if there's an accented letter in the filename or path. This error doesn't happen on macOS.

[code]

ezc3d version:
[code]

[2022-06-18 02:41] felixchenier commented on #252
It also happens with spaces in path. For example, if the file in in the "test 1" folder, either of these forms (backslashed or not) generates the error:

    a = ezc3d.c3d('test 1/WALK05.c3d')
    a = ezc3d.c3d('test\ 1/WALK05.c3d')

Same output.

Again, it only happens on windows, not on macOS.

[2022-06-18 10:32] mrrezaie opened #253 "Kistler COP correction"
Hi,

Does ezc3d take into account the COP correction for Kistler force platforms? It can be found in FPCOPPOLY in FORCE_PLATFORM metadata.

Thank you

[2022-06-19 12:13] xubuild commented on #251
Hi,
Thanks for ther repaly! I can see numpy has the "osx-arm64" build:
https://anaconda.org/conda-forge/numpy

[2022-06-19 17:08] pariterre commented on #253
I have not implemented anything specific yet for Kistler force platform. What are the nature of these corrections?

[2022-06-19 17:10] pariterre commented on #252
Hi @felixchenier !
I suspect that on Windows, one must specify the path with double blackslashes (\\) instead of a single forward slash (/). Can you confirm that `a = ezc3d.c3d('tést\\WALK05.c3d')` does not work either?

[2022-06-19 17:41] mrrezaie commented on #253
Thanks for your response. As far as I know:

[definition]
https://www.c3d.org/docs/C3D_User_Guide_2008.pdf
FORCE_PLATFORM:FPCOPPOLY which contains a 2x6 matrix containing polynomial
correction factors for the center of pressure data.

In Kistler type, the matrix is specifically defined by the company for each force plate model and even serial number.

https://nbviewer.org/github/BMClab/BMC/blob/ma

[2022-06-19 17:44] #226 closed, assigned to nobody

[2022-06-19 17:57] #245 closed, assigned to nobody

[2022-06-19 17:58] #238 closed, assigned to nobody

[2022-06-19 17:58] #225 closed, assigned to nobody

[2022-06-20 01:11] felixchenier commented on #252
Hi @pariterre

No, it's not that, normally slashes and double-backslashes work equally in Python, at least on pure-python functions. However I don't know why, I tried again and names with spaces worked this time. But not names with accented letters.

To test it as deep as I can, I copied a test file in several subfolders and with several names to see what works and what doesn't work:

    test.c3d

[2022-06-20 03:50] pariterre commented on #247
For those who would see this thread in the future, octave binaries are now available on conda for macosx and linux

[2022-06-20 03:50] #247 closed, assigned to nobody

[2022-06-20 12:49] pariterre commented on #252
I confirm, ezc3d does not support latin (nor any of the hundreds different ASCII tables windows decided to use to (unexplicably) avoid UTF-8), but UTF-8 only. I tried it in the past, it is a nightmare to implement because it is impossible to know from a path name what convention it uses (unlike files for instance where it can be specified in the actual file). As a rule of thumb, never use special

[2022-06-20 12:49] #252 closed, assigned to nobody

[2022-06-20 13:01] pariterre commented on #253
I see, that should not be too hard to implement.
Do you have a C3D kistler file that I could test on? :)

[2022-06-20 13:38] felixchenier commented on #252
@pariterre Yes, this is what I avoid myself, but not everybody does. That's fair, I already had an idea for a workaround (try if reading the file works; if it doesn't, copy the c3d in a temp directory without special characters and read this copy).

Merci pour ton aide !

[2022-06-20 13:43] pariterre commented on #252
Bienvenue :)

[2022-06-20 13:50] mrrezaie commented on #253
Hope this helps:
[test.zip](https://github.com/pyomeca/ezc3d/files/8941093/test.zip)

[2022-06-20 15:24] pariterre commented on #251
I pushed everything on anaconda, could you have a try if it works?

[2022-06-20 20:00] yurivict opened #256 "Please consider using pre-installed googletest when available"
googletest-1.11.0 is installed from a package, yet you still look for a bundled googletest.

Please consider using external googletest when available.

[2022-06-20 20:08] yurivict opened #257 "Please explain in README how to run tests"
When BUILD_TESTS=ON it only builds the test executable but there is no test target.

When I run the ```ezc3d_test``` executable many tests fail:
[code]

[2022-06-20 20:10] pariterre commented on #257
Are you on Windows or on a UNIX os?

[2022-06-20 20:10] yurivict commented on #257
I am on UNIX (FreeBSD).

[2022-06-20 20:31] yurivict opened #258 "Python bindings install C++ headers in include/ezc3d"
These headers aren't necessary and would conflict with the ezc3d package.

FreeBSD 13.1

[2022-06-20 20:41] yurivict opened #259 "Tests for python bindings fail"
[code]

Version: 1.5.0
py38-pytest-7.1.2,1
FreeBSD 13.1

[2022-06-21 03:27] xubuild commented on #251
Hi,
I still got the not found error:
[code]
I also checked https://anaconda.org/conda-forge/ezc3d, there is no "osx-arm64" package.

Note: it's searching in "osx-arm64" rather than "osx-64"

Thanks!

[2022-06-21 12:16] pariterre commented on #257
Hi @yurivict
So, for myself, running the tests is basically compile and the run the ezc3d_test file as such:
From the root ezc3d folder:

[code]

That said, the tests you pointed that failed are some reading tests which necessitate actual c3d files. Do you see these files in the test folder? They should have been downloaded by CMake and moved to the build/test folder. If they haven't I suspect tha

[2022-06-21 17:14] monsitacatalina opened #260 "Mex files are not created"
I'm traying to use the commands of the ezc3d library but I can't install it, I'm doing with cmake and visual studio but when I start to compiller the "install" file it doesn't complete the process

[2022-06-21 17:31] monsitacatalina commented on #260
![2022-06-21 (1)](https://user-images.githubusercontent.com/107505999/174861772-5e14921b-d1a2-4971-b34b-ba0d335f4342.png)

[2022-06-21 18:07] pariterre commented on #258
Hi @yurivict
I am not sure what you mean. Do you mean that "include/ezc3d" should not be installed? How one would compile against ezc3d then?

[2022-06-21 18:14] yurivict commented on #258
ezc3d itself installs C++ heraders to compile with. The Python binding shouldn't install C++ headers again,

[2022-06-21 18:49] pariterre commented on #258
Indeed, where do you see that the Python binding install headers?

[2022-06-21 19:08] yurivict commented on #258
```python setup.py install``` installs C++ headers.

[2022-06-21 19:15] yurivict commented on #257
Tests weren't run from the test subdirectory. Now they run fine.

Thank you for your help!

[2022-06-21 19:15] #257 closed, assigned to nobody

[2022-06-21 21:39] pariterre commented on #259
@yurivict  Could you confirm this is also good? (#257 )

[2022-06-21 22:04] yurivict commented on #259
This is still failing.

[2022-06-22 12:43] pariterre commented on #260
I suspect that your problem is related to the admin rights and/or the place it tries to install.
Could you show me the values of the CMake?

[2022-06-22 12:50] pariterre commented on #259
I must admit that I don't understand the output. The name of the issue refers to "Python" but it seems that this output is related to google tests which is solely related to C++ testing...
How did you run the tests?

[2022-06-22 16:02] yurivict commented on #259
It runs pytest for tests. Is this not correct?

[2022-06-22 16:04] pariterre commented on #259
Hmm okay, I have never ran python tests from that... Could you try what I said on the other thread for the Python tests? At least to know if the tests pass?

[2022-06-22 16:28] yurivict commented on #259
If it's ```./ezc3d_test``` - Python tests should be run with python scripts, and ```ezc3d_test``` is a C++ executable.

[2022-06-22 16:45] monsitacatalina commented on #260
![2022-06-22 (1)](https://user-images.githubusercontent.com/107505999/175092494-fc4196bf-81a4-42d2-946c-c5b382b1159d.png)
![2022-06-22 (2)](https://user-images.githubusercontent.com/107505999/175092507-d75c602d-d517-4316-a39d-f2fb1bc8d286.png)
![2022-06-22](https://user-images.githubusercontent.com/107505999/175092513-4e54463c-a3e0-4344-8761-81dfe3821a9e.png)

[2022-06-22 17:14] pariterre commented on #260
Yep, your problem is the `CMAKE_INSTALL_PREFIX` and `Matlab_ezc3d_INSTALL_DIR` which points to folder you need admin rights. Either you change these folder to something without this level of rights or you launch Visual Studio with admin rights

[2022-06-22 17:17] pariterre commented on #259
The current dirrectory should be the build folder. So depending on where you build it should or should not work.
But it is not `ezc3d_test` this is the C++ tests. Please refer to the previous thread where I explained how to launch the python tests.

[2022-06-22 18:50] monsitacatalina commented on #260
@pariterre I change the folder and its ok!!! thanks

[2022-06-22 18:50] #260 closed, assigned to nobody

[2022-06-22 19:03] yurivict commented on #259
Once correct directory was set tests succeed now.

Thanks for your help!

[2022-06-22 19:03] #259 closed, assigned to nobody

[2022-06-28 17:23] monsitacatalina opened #261 "Signals EMG"
Hello! I have some EMG signals saved in a .c3d file obtained from VICON, I wanted to know how I can extract these signals to process them. Thank you

[2022-06-29 13:50] pariterre commented on #261
Hi there!
This really depends on which platform you work on.. Are you working in C++, matlab or Python? If you are interested in the Raw signals, you can have a look at the readme in the relevent section, it shows how to extract analogs for all the platforms.

If you are interested in filtered data and you are in Python, may I suggest to have a look a https://github.com/pyomeca/pyomeca which is a

[2022-08-03 22:03] felixchenier opened #262 "Writing a c3d file originally read by ezc3d fails."
Salut Benjamin

Here is a c3d file that loads well using `data = ezc3d.c3d(filename1)`, but then fails to write back to c3d using `data.write(filename2)`.

I think there are several gotchas in this files, such as weird characters, and an uneven number of analog frames compared to point frames. It was saved by Vicon Nexus. I use this file as a unit test and demo for the Kinetics Toolkit since it in

[2022-08-04 03:44] felixchenier commented on #262
Oh, now I remember that this file has been processed using obscure scripts and may be simply invalid. Please forget this issue, I will check with other files.

[2022-08-05 14:03] felixchenier opened #263 "KeyError (__METADATA__) on adding events on a fresh c3d file"
Salut encore Benjamin

I have a problem when trying to add events to a new c3d file.

You python unit test for c3d.add_event() works well:
1. Reading a c3d file without events
2. Adding events to it using c3d.add_event()
3. Saving using c3d.write()

I also have luck with this:
1. Creating a fresh c3d instance and add some stuff in it
2. Saving using c3d.write()

But I can't add events to a fresh c

[2022-08-05 14:35] felixchenier opened #264 "Floating point rounding error when writing c3d"
Salut Benjamin

In ezc3d/__init__.py, lines 481 to 487:

[code]

I think there should be accommodation for floating-point rounding error before raising the ValueError. I have some data where nb_analog_frames = 4420, but the calculation of

[code]
gives 4420.000000000001.

So I get a ValueError instead of successfully saving the c3d. In my view this is only a floating-point difference and the funct

[2022-08-05 14:44] felixchenier commented on #264
In any case, changing these lines to

[code]

solves the problem.

[2022-08-05 15:06] pariterre commented on #264
Hi @felixchenier
The code is manually generated so changing it makes senses :)
I think you can PR this modification :)

Thanks!

[2022-08-11 20:40] #264 closed, assigned to nobody

[2022-09-16 07:42] NLantos commented on #238
Hi @pariterre ,
With much delay, I apologize but I worked on other project since.
Anyway, I just downloaded the version 1.5.0 of ezc3d to retest and unfortunately, I fall on the same error:

Is it possible that the patch of correction is not integrated in the new version?
Thanks in advance

[2022-09-16 07:48] NLantos commented on #233
Hello @pariterre  ,
As mentioned in the PR #238, I was late. I'm really sorry.
I have re-run the case for this PR and I still get the same error.

Could it be that your patch was not integrated in this version 1.5.0?
Thanks in advance.